<html>
    <title>abcd Magazine</title>

    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
        <script src="npm/velocity-animate/velocity.js" type="text/javascript"></script>
        <script src="javascripts/diamond.js" type="text/javascript"></script>
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-105772369-1', 'auto');
            ga('send', 'pageview');
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="shortcut icon" href="http://d12b8ry2hpzpk0.cloudfront.net/icon.png" type="image/x-icon">
        <meta name="viewport" content="width=device-width" />
        <meta content="Walking past Carr's Hill" property="og:title">
        <meta content="The life of former U.Va. president John Casteen III" property="og:description">
        <meta content="http://d12b8ry2hpzpk0.cloudfront.net/november/Casteen1.JPG" property="og:image">
        <meta content="summary_large_image" name="twitter:card">
        <meta content="Walking past Carr's Hill" name="twitter:title">
        <meta content="The life of former U.Va. president John Casteen III" ame="twitter:description ">
        <meta content="http://d12b8ry2hpzpk0.cloudfront.net/november/Casteen1.JPG" name="twitter:image:src ">
    </head>

    <body>

        <div class="secondary-promo ">
            <!--div class="top-line ">An Internet Publication </div>
                            <div class="top-line ">by The Cavalier Daily</div-->
            <!-- Twitter -->
            <div class="share ">
                <a href="https://twitter.com/share?url=http://www.abcdmag.com/walking-past-carrs-hill&text=The life of former U.Va. president John Casteen III" target="_blank ">
                    <i class="fa fa-twitter " aria-hidden="true "></i>
                </a>
                <a href="https://www.facebook.com/dialog/share?app_id=115484705817318&display=popup&href=http://www.abcdmag.com/walking-past-carrs-hill" target="_blank ">
                    <i class="fa fa-facebook " aria-hidden="true "></i>
                </a>
            </div>
            <a href="/ ">
                <img src="http://d12b8ry2hpzpk0.cloudfront.net/november/casteen1.jpg">
            </a>
        </div>
        <div class="container-fluid ">
            <div id="casteenPhoto" class="top-container row clearfix">
                <div class=" col-md-5 col-md-offset-7 " style=" height: 100%; color: black; ">
                    <div class="top-sub top-meta-container " style="padding-top:150px;">
                        <div class="top-heading ">
                            Walking past Carr’s Hill
                        </div>

                        <div class="top-subheading ">
                            The life of former U.Va. president
                            <div>John Casteen III</div>
                        </div>
                        <div class="top-byline ">
                            Words by Maggie Servais
                        </div>
                        <div class="top-byline">
                            Photos by Charlotte Clothier McClintock
                        </div>
                    </div>
                </div>

            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                    <p>From the round table in the corner of his third floor Alderman office, President Emeritus John Casteen III was finishing typing an email. Bookshelves built into the wall behind him and around the room were lined with perfectly-arranged
                        books &mdash; part of a roughly 200 year-old family collection. Their faded bindings complemented the antique furnishings of the room &mdash; a fireplace with a portrait of a woman in Victorian dress hanging above the mantel, a
                        standing globe beside one of the paned windows, a dark, hardwood wardrobe on one wall.</p>

                    <p>&ldquo;It&rsquo;s close to the Lawn, the Rotunda, you can take a stroll if you want to get away,&rdquo; Casteen said. &ldquo;It has this spectacular view &#8230; You can&rsquo;t see it, but Lewis Mountain is over there.&rdquo;</p>

                    <p>A triple Wahoo &mdash; earning his B.A., M.A. and Ph.D. from the University &mdash; and a professor of English, former Dean of Admissions and former president of the University, Casteen has spent more than 40 years as a part of the
                        University and Charlottesville community. </p>

                    <p>At some point in our conversation, Casteen paused to comment on the camera our photographer, Charlotte, was using to capture candids as we spoke. He just bought a full frame camera himself.</p>

                    <p>&ldquo;What I found hard about learning to use a camera is learning to expose your light in one part of the screen and to split the images,&rdquo; Casteen said. &ldquo;The business of composing a photograph &#8230; and working with
                        the off-center subject so that the audience looks over the subject&rsquo;s shoulder toward something else.&rdquo;</p>

                    <p>In a way, Casteen played that off-center figure in the picture of the University for 20 years while serving as the seventh president. Now, the focus has shifted, and he is looking at the legacy he left behind.</p>

                    <p>As president, Casteen championed affordability, the increased enrollment of women and minority students and the physical growth of the University. In 2003, he initiated the creation of AccessUVA, the University&rsquo;s financial aid
                        program.
                    </p>

                    <p>Casteen retired from the presidency in 2010, but remained at the University as a professor of English. In the seven years since he was president, Casteen said he finds himself in a uniquely different position &mdash; one of continued
                        responsibility, but with new perspectives and freedom.</p>

                    <p>&ldquo;The schedule is rarely so crowded that I can&rsquo;t do the things I want to do,&rdquo; Casteen said. &ldquo;I get to go to more &#8230; events because I don&rsquo;t have conflicts.&rdquo;</p>
                </div>
            </div>
            <div class="row">
                <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header">
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">

                    <p>A number Casteen&rsquo;s colleagues, all of whom were at the University at some point during his presidency, if not the full 20 years, said they consider Casteen a peer professionally, and a friend personally.</p>

                    <p>Politics Prof. Larry Sabato, who also serves as the director of the Center for Politics, joined the University faculty in 1978 &mdash; a few years after Casteen returned from teaching at the University of California, Berkeley to become
                        dean of admissions. Sabato has been at the University for Casteen&rsquo;s transition to and from the presidency, and has worked alongside him through the years.</p>

                    <p>&ldquo;John was president for an extraordinarily long time,&rdquo; Sabato said. &ldquo;Twenty years is a difficult, lengthy period of time to be president of a major university and he managed to keep his balance and to keep the enemies
                        at bay, internally and externally. He was a survivor.&rdquo;</p>

                    <p>Sabato said he has identified with Casteen on not only a professional and academic level, but also on a personal level, as both men came from blue collar towns in Southern, coastal Virginia and were the first in their family to attend
                        college.
                    </p>

                    <p>&ldquo;I think we always were simpatico for reasons of background and interest in the University of Virginia,&rdquo; Sabato said.</p>

                    <p>These days, Sabato doesn&rsquo;t see Casteen very often. He joked that the reason for their infrequent encounters is the nature of his role as director of the Center for Politics. &ldquo;I think John had more than enough politics while
                        he was president,&rdquo; Sabato said.</p>

                    <p>Sabato has plenty of obligations on Grounds, however, he wouldn&rsquo;t compare his duties to those of a sitting president. </p>

                    <p>&ldquo;When you add on public duties, you find that those public duties comprise a jealous mistress and they can absorb all of your time if you let them, and you have to fight against that,&rdquo; Sabato said. &ldquo;As director of
                        the Center for Politics, I can do that successfully. As president, you really can&rsquo;t. You&rsquo;re called away constantly, from this dispute and that crisis and it&rsquo;s a very very stressful job so I would in no way compare
                        what I&rsquo;m doing to what John did.&rdquo;</p>

                    <p>Architecture Department Chair William Sherman worked closely with Casteen while he was president in designing additions to Campbell Hall in the School of Architecture. He said Casteen was fully supportive of the project and allowed
                        faculty to design the additions.</p>

                    <p>Sherman now works alongside Casteen, who teaches a course entitled &ldquo;The Idea of Venice&rdquo; in the Architecture School. Sherman said the change from working under Casteen as president to beside him as a fellow professor hasn&rsquo;t
                        changed the dynamic of their relationship &mdash; it was always one of equal regard toward one another.</p>

                    <p>&ldquo;It&rsquo;s part of his personality to not treat people like they&rsquo;re underlings,&rdquo; Sherman said. &ldquo;I would say our relationship hasn&rsquo;t changed substantially because it was always grounded on a level of mutual
                        respect and curiosity and interest about the issues that we would be discussing or would be working with.&rdquo; Dean of Admissions Greg Roberts now holds the post Casteen held more than 20 years ago. Roberts worked as an associate
                        dean of admissions while Casteen was president but did not become dean of admissions until 2009, one year before Casteen stepped down.</p>

                    <p>&ldquo;The relationship between the admission office and the president is quite different from the one that exists between the Dean of Admission and a former president or faculty member,&rdquo; Roberts said. &ldquo;It&rsquo;s more
                        of a collegial and a friendship now, it was more of a working relationship then.&rdquo;</p>

                    <p>Roberts stays in touch with Casteen on an informal level &mdash; saying &ldquo;hi&rdquo; in passing on Grounds or grabbing lunch and talking not only about the University and admissions but their families and personal lives, as friends.
                    </p>

                </div>
            </div>
            <div class="row">
                <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">

                    <p>When Casteen concluded his time as president, he decided to take advantage of the sabbatic leave time he had yet to use. He traveled to Europe a few times and visited his home in Maine with his wife.</p>

                    <p>&ldquo;I took an extended leave largely for the purpose of thinking through what I was doing,&rdquo; Casteen said. &ldquo;I don&rsquo;t remember how old I was but I was young enough that I was thinking &lsquo;Okay, there&rsquo;s another
                        chapter.&rsquo;&rdquo;
                    </p>

                    <p>Casteen found inspiration for the next chapter by reading. He searched the English Department&rsquo;s course list for classes not taught every semester that he could cover. As it turned out, the dean of the School of Architecture needed
                        a course on the cultural context of Venice.</p>

                    <p>Casteen, whose academic appointment is not tied to a specific department, took on the course &mdash; &ldquo;The Idea of Venice&rdquo;. Casteen still teaches it in the spring. </p>

                    <p>&ldquo;The Idea of Venice&rdquo; is sometimes listed in both the English Department and the School of Architecture (this year it is under class code SARC), drawing on an interdisciplinary core Casteen long strove to create at the University.
                    </p>

                    <p>&ldquo;I was always frustrated when I was president or dean by the difficulty of getting &#8230; people to operate in more than one way at a time,&rdquo; Casteen said. &ldquo;We struggled with how to get interdisciplinary to develop
                        here. We&rsquo;re so siloed, focused, yet we live within different units.&rdquo;</p>

                    <p>According to Casteen, the Venice course fluctuates in enrollment each year. One year he only had one student &mdash; a graduate student working on her thesis. Other years he&rsquo;s had sections divided between architecture students
                        and students in the College.</p>

                    <p>&ldquo;The students in the College have been quite a mix,&rdquo; Casteen said. &ldquo;Physics majors, I&rsquo;ve had a couple students from the McIntire School, undergraduates who hadn&rsquo;t declared majors. And the architects are,
                        generally speaking, are either design majors or architectural history majors.&rdquo;</p>

                    <p>Sherman identified Casteen&rsquo;s longheld appreciation for architecture years ago, it was something they discussed while Casteen was president. Sherman was fascinated, though not surprised, that Casteen, an English professor, decided
                        to teach a nontraditional course in the School of Architecture. </p>

                    <p>&ldquo;John Casteen has had a very deep interest in Venice and the culture of Venice over the years,&rdquo; Sherman said. &ldquo;Well he&rsquo;s had a longstanding interest in architecture &#8230; It&rsquo;s an area that both as a
                        university president at a university where the architecture is a central part of its identity but also just personally an interest in space and design.&rdquo;</p>

                    <p>Returning to teaching also brought Casteen back to his academic roots &mdash; English and literature.</p>

                    <p>&ldquo;I was able to teach Old English, Anglo-Saxon English, which I did as a graduate student,&rdquo; Casteen said. &ldquo;My dissertation was some kind of Anglo-Saxon topic. So that was something that I really [wanted to] be able
                        to do.&rdquo;
                    </p>

                    <p>He also teaches courses on old Icelandic literature. Books on the lowermost bookshelves in Casteen&rsquo;s office &mdash; the ones devoted to his personal collection &mdash; show his growing interest in the field. Titles include &ldquo;The
                        Sagas of Icelanders,&rdquo; &ldquo;Old Norse-Icelandic Literature&rdquo; and &ldquo;Song of the Vikings&rdquo; &mdash; not to mention those written in Icelandic. </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-9 col-md-offset-2 ">
                    <img class="inline-photo" src="http://d12b8ry2hpzpk0.cloudfront.net/november/iceland.JPG" style="width: 100%; ">
                    <div class="inline-photo-caption">
                        Casteen's collection of Icelanding literature
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                    <p>&ldquo;That stuff is spectacular,&rdquo; Casteen said. &ldquo;There&rsquo;s so many things in that body of literature that differ from anything else in the Middle Ages that it&rsquo;s a constant challenge and it&rsquo;s always fun.&rdquo;
                    </p>

                    <p>Sabato spoke to the transition from an administrative position back into the role of a professor and the automatic draw of returning to one&rsquo;s academic background.</p>

                    <p>&ldquo;When you leave that administrative office and you take up a chaired professorship &#8230; you renew your interest in scholarship,&rdquo; Sabato said. &ldquo;You never abandon your roots, your root as an academic at any university,
                        teaching and research, that&rsquo;s a constant.&rdquo; The University announced President Teresa Sullivan will also become a professor after stepping down as president next summer. She plans to rejoin the University faculty after
                        a research leave.</p>

                    <p>In resuming a role as a professor, Casteen has also taken on the responsibility of academic advising. Casteen has a number of advisees, allowing him to maintain a unique relationship with students he was unable to develop as president.</p>

                    <p>&ldquo;I&rsquo;ve enjoyed the advising very much,&rdquo; Casteen said. &ldquo;You realize that you have to get it right, which is to say you have to match up what the student perceives as her or his needs with the University&rsquo;s
                        resources.&rdquo;
                    </p>

                </div>
            </div>
            <div class="row">
                <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">

                    <p>While still a professor and faculty member, the structure of Casteen&rsquo;s life has changed drastically compared to when he was president.</p>

                    <p>So what does the daily life of a former president of a major university look like?</p>

                    <p>As one might guess, the time commitments are fewer and the schedule is much looser. Casteen said he is able to visit his home in Maine more frequently and designate time to do things he truly wants to do.</p>

                    <p>&ldquo;I can decline things that I feel as though are not really what I want to do,&rdquo; Casteen said.</p>

                    <p>Not quite a townie, but no longer the living face of the University, Casteen has taken advantage of a more inconspicuous existence by frequenting the Downtown Mall with his wife.</p>

                    <p>&ldquo;We&rsquo;ve been able to walk around, look in windows, see our friends and so on,&rdquo; Casteen said. &ldquo;That sort of thing is difficult to do when you&rsquo;re president because of time pressure. You feel as though you&rsquo;re
                        creating some kind of disruption when you walk into a place.&rdquo;</p>

                    <p>Now, Casteen finds he can walk down Market Street like any other resident of Charlottesville. In an air of jest, he summarized the ease with which he now can appear in public.</p>

                    <p>&ldquo;You wear a dirty t-shirt and sit in one of those chairs and enjoy the Mall,&rdquo; Casteen said. &ldquo;We wouldn&rsquo;t have done that 10 years ago.&rdquo;</p>

                    <p>With a more liberal schedule, Casteen has found the time to consider issues that have long since interested him. One focus of Casteen&rsquo;s is bolstering the University&rsquo;s club and intramural sports programs as well as addressing
                        the gap between varsity athletes wanting to play professionally and the statistical likelihood of going pro.</p>

                    <p>&ldquo;We make the claim in college and universities that we have our collegiate sports because they are valuable for personal development,&rdquo; Casteen said. &ldquo;The question that I think we have to deal with here is something
                        about whether in fact the personal value is what we say it is.&rdquo;</p>

                    <p>Casteen believes athletic programs need to add value to an athlete&rsquo;s experience in ways beyond athletic skill to make up for the low odds of continuing to play the sport out of college.</p>

                    <p>&ldquo;If there&rsquo;s instructional value or value in terms of maturity or personal fulfillment and being part of a team and learning how to manage something about a term sport at that level, we&rsquo;re leaving something on the
                        table,&rdquo; Casteen said. </p>

                    <p>Casteen is also concerned with the future of libraries in the modern age and how technology is transforming books to virtual texts rather than physical objects. Casteen motioned toward the impressive collection of books filling the
                        nearly ceiling-high bookshelves around the room. </p>

                    <p>&ldquo;This collection is here because of books as objects, it&rsquo;s not mine, it belongs to the library,&rdquo; Casteen said. &ldquo;How do you maintain this kind of engagement &#8230; if [a] library consists of five discs?&rdquo;</p>

                    <p>Sullivan appointed Casteen to chair the search for the new director of the University library system last year. The responsibility exposed Casteen to the many untraditional issues that face libraries today.</p>

                    <p>&ldquo;We have a long history here of studying books themselves as objects, it&rsquo;s really a complicated and important piece of scholarship,&rdquo; Casteen said. &ldquo;How do you sustain that?&rdquo;</p>

                    <p>Casteen has not put aside his passion for increasing access to the University through financial aid. The issue is particularly close to Casteen &mdash; he worked various jobs to pay his way through college in addition to receiving
                        scholarship money.
                    </p>

                    <p>Casteen has seen, what he considers, a drastic decline in federal financial aid for students. The historic model, Casteen said, divides financial aid into thirds, with one third of funding provided by the state, one third by the federal
                        government and one third covered by student-earned wages.</p>

                    <p>At one point, Casteen worked on the production line of a frozen food factory in Crozet, a job that paid $1.29 an hour. His wages plus scholarship money were generally sufficient in covering his expenses for the year. Now, he observes
                        students struggling to pay for their education, even while working or receiving scholarship money.</p>

                    <p>&ldquo;There are a lot of people here that have to budget many many times [what I did] and I&rsquo;ve been surprised by the number of students who are not making the minimum wage,&rdquo; Casteen said. </p>

                </div>
            </div>
            <div class="row">
                <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">

                    <p>I asked Casteen what his relationship with his predecessors was like while he was president. Casteen is fond of Robert O&rsquo;Neil who was president before him from 1985-90. Casteen was also close to Colgate Darden, who was president
                        of the University from 1947-59, Edgar Shannon, president from 1959-74 and Frank Hereford, president from 1974-85. Darden, Shannon and Hereford have since passed away.</p>

                    <p>Casteen says he views O&rsquo;Neil as a friend and admires him for his fairness and rationality as well as his work as an advisor to national educational organizations.</p>

                    <p>While Casteen was president, he said he saw O&rsquo;Neil occasionally in social settings and said Shannon and Hereford spoke with him briefly about being president though they were never intrusive.</p>

                    <p>Casteen also said he had a few conversations with Darden. Darden was significantly older than Casteen, though Casteen admired him for his accomplishments and wisdom.</p>

                    <p>&ldquo;[Darden] was a remarkably intelligent guy,&rdquo; Casteen said. &ldquo;He read the political landscape with a kind of certainty that just comes with being 85 years old.&rdquo;</p>

                    <p>Casteen also looked up to Shannon, who served as a source of for advice if he sought it.</p>

                    <p>&ldquo;Edgar Shannon was a very fine academic,&rdquo; Casteen said. &ldquo;He had a great scholarly mind. I talked more with his wife Eleanor than with him because she really wanted to talk. He would talk when I asked him for something.&rdquo;</p>

                    <p>Hereford Residential College was completed during Casteen&rsquo;s presidency. Hereford himself remained a friend of Casteen&rsquo;s and a sympathetic advisor.</p>

                    <p>&ldquo;Frank in particular was &#8230; very protective,&rdquo; Casteen said. &ldquo;He knew that it&rsquo;s difficult to be in charge, that the responsibilities don&rsquo;t go to somebody else, that you have to deal with the issues
                        as they arise, don&rsquo;t forget them, take care of them now.&rdquo;</p>

                    <p>Now, as president emeritus, Casteen is in the position O&rsquo;Neil, Shannon, Hereford and Darden were before him with respect to his relationship with Sullivan. Casteen said he is supportive of Sullivan but realizes she is fully capable
                        without his assistance.</p>

                    <p>&ldquo;We talk sometimes, but she doesn&rsquo;t need my advice,&rdquo; Casteen said. &ldquo;She&rsquo;s got a remarkably clear and well-rounded view of what needs to be done.&rdquo;</p>

                    <p>Casteen characterized his relationship with Sullivan as one similar to that he had with O&rsquo;Neil &mdash; a nonjudgmental type of friendship. &ldquo;It&rsquo;s a pleasant kind of relationship to have, applauding someone else&rsquo;s
                        successes,&rdquo; Casteen said. &ldquo;Or to [focus] on something that&rsquo;s not </p>
                    <p>With the end of Sullivan&rsquo;s presidency next summer, Casteen said he and his wife are eager to share their experience living in Charlottesville after the position.</p>

                    <p>&ldquo;My wife and I are sort of interested in passing along to President Sullivan and her husband some of the things that we discovered about living in Charlottesville,&rdquo; Casteen said. &ldquo;Of course [I] haven&rsquo;t had a
                        chance to do it yet, but when the chance comes, I&rsquo;ll tell her what I think.&rdquo;</p>

                </div>
            </div>
            <div class="row">
                <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">

                    <p>Casteen has experienced the University from nearly every perspective possible &mdash; as an undergraduate, graduate and Ph.D. student, as a professor, as Dean of admissions and as the top-most eye, the president. Each of these roles
                        were divided by years of transition, either at other institutions or in other offices work, but each time Casteen has returned to the University.</p>

                    <p>What is the gravity of Grounds that keeps bringing him back?</p>

                    <p>The answer is not as simple as an apple falling from a tree &mdash; there were different reasons each time, Casteen said. </p>

                    <p>&ldquo;The reason of my accepting something that was proposed or offered, certainly had to do with the attachment to the place, to the region,&rdquo; Casteen said.</p>

                    <p>A further driving point was the critical age in which Casteen first attended the University and later when he began to work here &mdash; a time of growth, change and controversial but critical progress.</p>

                    <p>&ldquo;I was convinced in the late &lsquo;60s that &#8230; coeducation and desegregation were the essential steps toward being a significant national University,&rdquo; Casteen said. &ldquo;I think you could argue that prior to those
                        events, we were not that. But our history since about 1970, has to do with an increasingly diverse population, with measures of accomplishment that are far more rigorous than anything we had prior to about 1970.&rdquo;</p>

                    <p>The University Casteen attended in the 1960s is drastically different from the one he led into the 21st century and still different from the University he watches grow and develop every day.</p>
                </div>
            </div>
            <div class="row">
                <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                    <p> Casteen looked at his Alderman office &mdash; a quiet space tucked between the Journals and Newspapers room and the Shanti room in the East Wing.</p>

                    <p>&ldquo;The room was an idle space,&rdquo; Casteen said. &ldquo;They were trying to figure out where to put me.&rdquo;</p>

                    <p>The space has not been vacant now for seven years. A framed poster commemorating the 25-year anniversary of the Rare Book School hangs on the wall behind Casteen, a November 2007 Commonwealth Cup football trophy engraved with his name
                        rests on one of the lower shelves. Casteen has fully embraced the space, just as he has filled his unique role in the time after his presidency. </p>
                </div>
            </div>
        </div>
    </body>

</html>