<html>
    <title>abcd Magazine</title>

    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
        <script src="npm/velocity-animate/velocity.js" type="text/javascript"></script>
        <script src="javascripts/diamond.js" type="text/javascript"></script>
        <script src="npm/swiper/dist/js/swiper.min.js"></script>
        <link rel="stylesheet" href="npm/swiper/dist/css/swiper.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat+Lora" rel="stylesheet">
        <meta name="viewport" content="width=device-width" />
        <meta content="A Tent on the Rivanna" property="og:title">
        <meta content="In Charlottesville’s intensifying housing market, some are turned to homelessness.
" property="og:description">
        <meta content="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/chrisback.jpg" property="og:image">
        <meta content="summary_large_image" name="twitter:card">
        <meta content="A Tent on the Rivanna" name="twitter:title">
        <meta content="In Charlottesville’s intensifying housing market, some are turned to homelessness." name="twitter:description">
        <meta content="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/chrisback.jpg" name="twitter:image:src">
    </head>

    <body>

        <div class="secondary-promo">
            <!--div class="top-line">An Internet Publication </div>
                <div class="top-line">by The Cavalier Daily</div-->
            <!-- Twitter -->
            <div class="share">
                <a href="https://twitter.com/share?url=http://www.abcdmag.com/rabbit&text=In Charlottesville’s intensifying housing market, some are turned to homelessness." target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>
            <a href="/">
                <img src="http://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/abcd.png">
            </a>
        </div>
        <div class="container-fluid">
            <div class="top-container row clearfix">
                <div class=" col-md-4 col-md-offset-8  ">
                    <div class="top-sub top-meta-container ">
                        <div class="top-heading ">
                            A Tent on the Rivanna
                        </div>

                        <div class="top-subheading ">
                            In Charlottesville’s intensifying housing market, some are turned to homelessness.
                        </div>
                        <div class="top-byline ">
                            Words by Jane Diamond
                        </div>
                        <div class="top-byline " style="padding-top: 5px;">
                            Photos by Ryan Jones
                        </div>
                    </div>
                </div>
            </div>
            <div class="photo-caption"><em>Ryan Jones</em></div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                    <p>Beneath a highway bridge, in the warm current of the Rivanna River, a photographer named Ryan introduced me to a couple and their dog, cooling off on a humid July day. Music pulsed from a Bluetooth speaker, and the couple &mdash; named
                        Rabbit and Chris &mdash; talked and joked with one another, enjoying the otherwise quiet area. The silence was disturbed only by the whir of cars cruising dozens of feet above.</p>

                    <p>&ldquo;I was walking and then lost my balance, like a peg-legged t-rex with a bad case of termites,&rdquo; Rabbit said, pointing to a bruise and several scratches on her leg. Rabbit, with a hearty laugh and a penchant for whip-smart
                        metaphors, was describing a spill she had taken on the Fourth of July. </p>

                    <p>Chris looked on, bolstering Rabbit&rsquo;s story with encouraging &ldquo;uh-huhs&rdquo; and &ldquo;yeahs.&rdquo; He&rsquo;s a construction worker, muscular and excited about his job. She makes jewelry and sells it on the Downtown Mall.
                    </p>

                    <p>&ldquo;That one&rsquo;s aquamarine, that one&rsquo;s New Mexico river rock,&rdquo; Rabbit said, pointing to pictures of her handmade jewelry on her phone. &ldquo;And that&rsquo;s tiger&rsquo;s eye with river rock.&rdquo;</p>

                    <p>Rabbit and Chris moved to Charlottesville in January, making the drive from New Mexico in their white hatchback. They&rsquo;ve lived here before, four years ago, but this time Rabbit and Chris are facing a struggle they didn&rsquo;t
                        have last time. They&rsquo;re homeless. &ldquo;The dog&rsquo;s loving it here &lsquo;cause he&rsquo;s been sitting in the tent with me in this damn hundred degree weather,&rdquo; she said.</p>

                    <p>Rabbit noted the reprieve their pit bull-English mastiff dog, named Oden, felt in the Rivanna. Their cat, Loki, had stayed at their campsite. Just as Rabbit and Chris are protective of their pets, so too they plainly look out for one
                        another. They&rsquo;re a permanent family unit, although their backgrounds link them to their own tangled histories, peppered with jobs lost or brushes with the law. Each has family members from whom they&rsquo;ve been estranged
                        at certain points in their lives. Each is also quick to smile when talking about the other.</p>

                    <p> Rabbit, with commanding eye contact and her hair shorn above her ears, beamed at her companion when she said, &ldquo;My grandfather never got to meet him, but of all the guys I&rsquo;ve ever dated, I think this one is the only one
                        he would&rsquo;ve approved of.&rdquo; Chris, kindly and bashfully in gym shorts and a sleeveless shirt, beamed back. Oden splashed in the water some more, as if he never wanted to leave.</p>
                    <p> Rabbit and Chris have been looking for housing in the Charlottesville area for months. Unable to secure housing, the two have been setting up campsites wherever they can. In their case, several obstacles stood in the way. Passing background
                        checks and finding a home that allowed Oden to stay were two such barriers, but it&rsquo;s clear that Charlottesville&rsquo;s housing market faces larger pressures that make finding a home here difficult.
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-9 col-md-offset-2 ">
                    <img class="inline-photo" src="http://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/chriscar.jpg " style="width: 100%; ">
                    <div class="inline-photo-caption">
                        Chris poses next to his Subaru
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                    <p>Charlottesville&rsquo;s housing market continues to intensify in terms of sales. According to the Charlottesville Area Association of Realtors, the short- and long-term trends of the local housing market are in line, pointing toward
                        increases in sales and price and decreases in inventory of homes and days on market until sale. In July, CAAR released this year&rsquo;s second quarter sales.</p>

                    <p>&ldquo;The Greater Charlottesville area continues to move at a rapid pace,&rdquo; CAAR President Anthony McGhee said in a press release. &ldquo;Five out of six localities showed a higher median sales price this quarter compared to
                        last year&#8230; In addition, all six localities showed a decline in median days on the market &ndash; Greene, City of Charlottesville, and Fluvanna saw a 38% decrease or more.&rdquo;</p>

                    <p>The major factor in the local housing market&rsquo;s trends is low inventory.</p>

                    <p>In April, May and June, the City of Charlottesville saw a 26.8 percent decrease in inventory of single-family detached homes for sale and a 7.3 percent decrease for single-family attached homes (i.e. homes with shared walls, such as
                        apartments).
                    </p>

                    <p>While there was an overall higher percentage of sales this spring, &ldquo;buyers continue to be challenged with low inventory in our area,&rdquo; CAAR President-Elect Arleen Yobs said in a press release.</p>

                    <p>The construction process can be long, so new buildings don&rsquo;t make up for shrinking inventory. Whether one is buying, renting or trying to secure public housing, low inventory can lead to hiked-up prices and other roadblocks,
                        according to the CAAR.</p>

                    <p>The demand for student housing has resulted in Charlottesville&rsquo;s added squeeze in available rental properties, and off-Grounds housing hasn&rsquo;t been alone in seeing higher demand. In 2012, the University hired a private firm
                        to assess the state of student housing.</p>

                    <p>The project team found an unmet undergraduate student demand for on-Grounds housing. In a Feb. 2016 presentation to the Board of Visitors, they reported that while 100 percent of first-year students and 43 percent of second-year students
                        lived on-Grounds, only 14 percent of third-year students and 8 percent of fourth-year students did.</p>

                    <p>The firm recommended capturing the unmet demand and building an apartment building close to Grounds.</p>

                    <p>The University is doing just that &mdash; a new upperclassmen residence hall is projected to open adjacent to Bice House in fall 2019. The residential building, which will house 312 beds, is the first step of the University&rsquo;s
                        Brandon Ave. Master Plan, a major proposal to redevelop the avenue into a &ldquo;Green Street,&rdquo; a one-way circle with landscaped pathways and buildings used for academic, research and residential purposes. </p>

                    <p>As student numbers increase, so do prospects for student-aimed housing both on and off Grounds. </p>

                    <p>Off-Grounds housing aimed toward students has grown in both price and quantity. The 2015 housing master plan showed that from 2012 to 2015, off-Grounds rental rates increased 14 percent. Due to zoning changes allowing for more high-density
                        buildings in neighborhoods close to Grounds, the number of off-Grounds properties geared toward students has grown over the past decade. Still, according to the master plan, changes in the off-Grounds housing market have not had
                        a large effect on undergraduates&rsquo; demand for housing.</p>

                    <p>New options in off-Grounds housing have not slowed down. </p>

                    <p>Last year, Uncommon, a large apartment complex that can accommodate 354 people, opened its doors on West Main Street. It joined its neighbor, the Flats at West Village, as an upscale housing option directed toward students. West Main
                        Street continues to see change &mdash; in spring of 2018, the Draftsman Hotel is expected to open, answering an over-10 percent increase in demand for Charlottesville hotels since 2015.</p>

                    <p>Another behemoth student-aimed, luxury apartment building follows on the tails of these projects. The Standard, a six-story, special-permit structure also built on West Main Street, will start offering leases next month for its units,
                        described on its website as &ldquo;affordable lavish living in Charlottesville.&rdquo; Instead of providing affordable housing units in The Standard, Landmark Properties of Athens, Ga., paid the city&rsquo;s housing fund $664,777,
                        opting to target students, and not lower-income families, as its market. </p>

                    <p>Among the building&rsquo;s offered amenities is a virtual golf simulator, a feature also available across the street at Uncommon. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 ">
                    <img class="inline-photo" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/chris%2Brabbit.jpg" style="width: 100%; ">
                    <div class="inline-photo-caption">Rabbit, Chris, and their dog, Oden, wading in the Rivanna</div>
                </div>
                <div class="col-md-4">
                    <img class="inline-photo" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/tattoos.jpg" style="width: 100%;">
                    <div class="inline-photo-caption">Chris shows off his tattoos</div>
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">

                    <p> Since arriving in Virginia, Rabbit and Chris have traveled in and around the greater Charlottesville area in hopes of finding a stable living environment. Often, they&rsquo;ve found themselves having to rely on their skills in ad hoc
                        homemaking.
                    </p>

                    <p>&ldquo;Remember Lynchburg?&rdquo; Chris asked Rabbit.</p>

                    <p>&ldquo;Oh yeah,&rdquo; she responded. &ldquo;Lynchburg, we were right there in the middle of the town on the backside of Liberty University, and nobody knew we were there.&rdquo;</p>

                    <p>&ldquo;I set that camp up in the middle of the night, too,&rdquo; he continued. &ldquo;If I don&rsquo;t want you to find me, you won&rsquo;t find me.&rdquo;</p>

                    <p>&ldquo;I know how to maintain a camp like that,&rdquo; Rabbit added.</p>

                    <p>Renting has proven to be an untenable option to the couple. Ascribing bad credit to years of medical bills and noting previous encounters with the law, Rabbit expressed her vexation regarding applications to rent properties.</p>

                    <p>&ldquo;They want you to pass background and credit check, and we will not pass either,&rdquo; she said. Commenting on the current state of homelessness in Charlottesville, Erin Briggs Yates, executive director of the Thomas Jefferson
                        Area Coalition for the Homeless, said that while homelessness remains a consistent year-to-year issue, its causes are dynamic and changing. &ldquo;It is hard to talk about homelessness as a growing or shrinking problem,&rdquo;
                        she said in an email. &ldquo;What we have seen change is the struggles that people have that can lead to someone becoming homeless.&rdquo; Those struggles include, in addition to bad credit and criminal histories, physical and
                        mental health issues, lack of insurance, unemployment and a deficit of housing options.</p>

                </div>
            </div>
            <div class="row ">
                <div class="col-md-10 col-md-offset-1 ">
                    <img class="inline-photo" src="http://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/buzzards.jpg " style="width: 100%; ">
                    <div class="inline-photo-caption">Buzzards near the campsite</div>
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                    <p>Various Charlottesville agencies have been working to address the area&rsquo;s homelessness. The Haven in downtown Charlottesville serves as a day shelter, providing assistance and resources such as hot meals, showers and laundry.
                        &ldquo;On average The Haven serves 70 people daily,&rdquo; Executive Director Stephen Hitchcock said in an email. &ldquo;Over the course of a year, the cumulative number is approximately 350 people.&rdquo; Hitchcock described how
                        the local housing market affected the Haven and its services. &ldquo;The city is roughly 10 square miles and, as you know,&#8203; is a &#8203;very desirable place to live/retire&#8203;, and when you add in the student housing population,
                        the result is a very limited affordable housing stock,&rdquo; Hitchcock said. Finding homes outside of Charlottesville also proves to be difficult. &ldquo;We would like to place some of clients in the surrounding counties, but
                        transportation, and thus access to necessary resources, becomes a barrier,&rdquo; Hitchcock said. Briggs Yates mentioned the low inventory of affordable housing. &ldquo;With very little affordable housing in our region, finding
                        a safe place to live that is on a bus line can be a huge challenge,&rdquo; she said.</p>

                    <p>When it comes to both local public housing and services to the homeless, federal funds come into play. The Thomas Jefferson Area Coalition for the Homeless serves as Charlottesville&rsquo;s local entity of the Continuum of Care, a
                        program of the U.S. Department of Housing and Urban Development aimed toward supporting community efforts at reducing homelessness, according to its website.</p>

                    <p>Briggs Yates noted that how the TJACH operates could change under the Trump administration. &ldquo;We haven&rsquo;t seen official changes under the new administration, but the recommended budget has massive cuts to housing programs
                        and funds used to provide low income housing, so we are watching it closely,&rdquo; she said.</p>

                    <p>The City of Charlottesville&rsquo;s Housing Program Coordinator Stacy Pethia mentioned the degree of unpredictability surrounding affordable housing.</p>

                    <p>&ldquo;Right now, there is a lot of uncertainty about the future of funding for affordable housing programs,&rdquo; she said in an email. &ldquo;Both the House of Representatives and the Senate appropriations committees have approved
                        budgets that continue to fund federal rental housing/assistance programs.&rdquo;</p>

                    <p>Pethia said that while the Senate budget covers existing housing assistance programs and their rising costs, the House budget would lead to a cutback in Housing Choice Vouchers &mdash; formerly called Section 8 &mdash; by 140,000.
                        Of those, she said, &ldquo;2,873 households in Virginia would lose their assistance.&rdquo; While the future of affordable housing remains in flux, Briggs Yates explained how conversations regarding homelessness also need to change.
                        &ldquo;We will need to expand the way that we look at families and youth in our community,&rdquo; Briggs Yates said. &ldquo;With only one shelter that takes families, this will take improving conversations with programs outside
                        of the homeless system of care that are working with families.&rdquo;</p>

                </div>
            </div>
            <div class="row ">
                <div class="col-md-4 col-md-offset-2 ">
                    <img class="inline-photo" src="http://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/dogwater2.JPG" style="width: 100%;">
                    <div class="inline-photo-caption">Oden frolicking in the Rivanna River</div>
                </div>
                <div class="col-md-4 ">
                    <img class="inline-photo" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/dogwater.JPG" style="width: 100%; ">
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">

                    <p>That same day, cooling off in the Rivanna River, Rabbit and Chris were talking about their next move. They had set up camp nearby but had earlier been told to leave by city authorities.</p>

                    <p>Neither was bitter. Exasperated, but not bitter. </p>

                    <p>&ldquo;The guy who came out and gave me the bad news this morning, an older guy who works for the Parks Department, he actually seemed really remorseful that he had to tell me we had to go,&rdquo; Rabbit said. &ldquo;He was like, &lsquo;I
                        had to live out of a backpack for two or three years. You know, I know what it&rsquo;s like. I understand.&rsquo;&rdquo;</p>

                    <p>Chris had been working on a construction site when it happened, Rabbit said.</p>

                    <p>&ldquo;I said, &lsquo;Look, my husband&rsquo;s working,&rsquo;&rdquo; she continued. &ldquo;&rsquo;We&rsquo;re just trying to keep a roof over our heads while we&rsquo;re trying to find a place.&rsquo;&rdquo;</p>

                    <p>Chris continues to work for his construction company, and Rabbit keeps up with her handmade jewelry. As the summer temperatures increase, so does their time keeping cool in the Rivanna. And while Rabbit and Chris are facing the uncertainties
                        of an intense housing market, they have three mainstays &mdash; each other, and their dog and cat. </p>
                </div>
            </div>
        </div>
    </body>

</html>