<html>
    <title>abcd Magazine</title>

    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
        <script src="npm/velocity-animate/velocity.js" type="text/javascript"></script>
        <script src="javascripts/diamond.js" type="text/javascript"></script>
        <script src="npm/swiper/dist/js/swiper.min.js"></script>
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-105772369-1', 'auto');
            ga('send', 'pageview');
        </script>
        <link rel="stylesheet" href="npm/swiper/dist/css/swiper.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat+Lora" rel="stylesheet">
        <link rel="shortcut icon" href="http://d12b8ry2hpzpk0.cloudfront.net/icon.png" type="image/x-icon">
        <meta name="viewport" content="width=device-width" />
        <meta content="Dean Groves’ commitment to U.Va. and loved ones — one day at a time" property="og:title">
        <meta content="I have tried to live my life with honesty and integrity ... I have never shied away from who I am" property="og:description">
        <meta content="http://d12b8ry2hpzpk0.cloudfront.net/groves_smile.jpg" property="og:image">
        <meta content="summary_large_image" name="twitter:card">
        <meta content="Dean Groves’ commitment to U.Va. and loved ones — one day at a time" name="twitter:title">
        <meta content="I have tried to live my life with honesty and integrity ... I have never shied away from who I am" ame="twitter:description ">
        <meta content="http://d12b8ry2hpzpk0.cloudfront.net/groves_smile.jpg " name="twitter:image:src ">
    </head>

    <body>

        <div class="secondary-promo ">
            <!--div class="top-line ">An Internet Publication </div>
                        <div class="top-line ">by The Cavalier Daily</div-->
            <!-- Twitter -->
            <div class="share ">
                <a href="http://www.cavalierdaily.com ">
                    <img class="navbar-image " src="http://d12b8ry2hpzpk0.cloudfront.net/CD_Circle.png">
                </a>
                <a href="https://twitter.com/share?url=http://www.abcdmag.com/rabbit&text=In Charlottesville’s intensifying housing market, some are turned to homelessness. " target="_blank ">
                    <i class="fa fa-twitter " aria-hidden="true "></i>
                </a>
                <a href="https://www.facebook.com/dialog/share?app_id=115484705817318&display=popup&href=http://www.abcdmag.com/rabbit " target="_blank ">
                    <i class="fa fa-facebook " aria-hidden="true "></i>
                </a>
            </div>
            <a href="/ ">
                <img src="http://d12b8ry2hpzpk0.cloudfront.net/abcd.png ">
            </a>
        </div>
        <div class="container-fluid ">
            <div id="grovesPhoto " class="top-container row clearfix ">
                <div class=" col-md-4 col-md-offset-8 " style=" height: 100%; ">
                    <div class="top-sub top-meta-container ">
                        <div class="top-heading ">
                            Dean Groves’ commitment to U.Va. and loved ones — one day at a time
                        </div>

                        <div class="top-subheading ">
                            “I have tried to live my life with honesty, with integrity ... I have never shied away from who I am.”
                        </div>
                        <div class="top-byline ">
                            Words by Gracie Kreth
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>Dean of Students Allen Groves has always believed in free speech. But when a group of white nationalists marched with through Grounds with torches and yelled anti-Semitic chants on the evening of Aug. 11, his belief in the right of free
                    speech collided with his job as dean. </p>

                <p>Groves was at home that Friday when he heard that the group of neo-Nazis would be marching on the Lawn. A far-right white nationalist rally was scheduled the next day, ostensibly to protest the Charlottesville City Council&rsquo;s decision
                    to remove the Robert E. Lee statue from Emancipation Park (formerly known as Lee Park). However, the plans to march through central Grounds came as a surprise to the University administration.</p>

                <p>When he heard of the plans, he left his home in southern Albemarle County and arrived on Grounds to learn that University students had surrounded Thomas Jefferson statue north of the Rotunda. </p>

                <p>&ldquo;I went into the crowd of white supremacists,&rdquo; Groves said, as he began recounting the event of Aug. 11 in an interview with The Cavalier Daily. &ldquo;I leaned in [to the students] and said, &lsquo;It&rsquo;s Dean Groves.
                    It&rsquo;s Dean Groves. Let me get you out of here.&rsquo;&rdquo;</p>

                <p>The police had not arrived yet, so Groves rushed into the crowd to reach the students. </p>

                <p>&ldquo;Next thing I knew, one of the white supremacists threw one of the torches,&rdquo; Groves said. &ldquo;It hit me in the arm, and it cut my arm, and the flaming part fell to the ground &#8230; Within seconds, they started attacking
                    several of the people around the statue.&rdquo;</p>

                <p>Pulling students out from the crowd, Groves and several others were maced in the chaos that erupted. Several others were injured during the protest as well.</p>

                <p> Groves said he is a strong proponent of individual rights and freedom of speech. As questions arise about the limitations of the First Amendment on college campuses, Groves has been a fairly outspoken member of the community. He recently
                    gave a lecture about &ldquo;The Balance Between Free Speech and Bias&rdquo; to the Kappa Rho Chapter of the Delta Sigma Theta sorority. &ldquo;We are at a stage right now in this country where across the spectrum, people do not want
                    to listen to views that oppose their own way of thinking,&rdquo; Groves told The Cavalier Daily. &ldquo;And so with social media being what it is, you and I can only follow those people or website that we agree with and not anybody
                    that we don't. I think that is highly dangerous.&rdquo; </p>

                <p>He cautions students to be careful about suppressing speech at a time when society might be angry, afraid or frustrated because that may come back to haunt them. He encourages students to listen to speakers with opposing viewpoints and
                    instead of shouting them down, he challenges students to ask tough questions.</p>

                <p>&ldquo;The reason we allow speech we deem hateful is to protect our rights to protest and freely speak out on controversial topics of the time,&rdquo; Groves said. &ldquo;Once we carve away at that core freedom, we may not like how much
                    is swept into the category of banned &lsquo;hateful&rsquo; speech.&rdquo;</p>

                <p>However, in the case of the events of Aug. 11 and 12 in Charlottesville, Groves said not all speech was protected. </p>

                <p>&ldquo;[The First Amendment] does not permit speech that qualifies as &lsquo;incitement&rsquo; to commit imminent acts of violence,&rdquo; Groves said in an email. &ldquo;I believe certain speech by the alt-right/white nationalists on
                    August 11 was hateful speech that is nonetheless protected by the Constitution, while other speech that night was likely incitement that is not protected speech. I also believe the use of torches in the context presented on August
                    11 was impermissible. Moreover, violence is not speech.&rdquo;</p>

                <p>As Groves enters his 11th year working in administration at the University, he has worked continually to protect students&rsquo; speech, especially helping raise the volume of minority voices around Grounds. </p>
            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-4 body-text ">
                <p>&ldquo;He believes in everybody&rsquo;s right to be who they are and be respected for who they are,&rdquo; Groves&rsquo; sister Tammie Collins said.</p>

                <p>Groves said he has made it a goal of his time at the University to make sure every student has equal access and equal opportunity, and believes that some groups need more help than others to be heard.</p>

                <p>&ldquo;To be different in any society culturally is difficult,&rdquo; Groves said. &ldquo;It is easier to be white in this country than it is to be black. I have always viewed that there are probably groups of student who more need my
                    support and intervention than others.&rdquo;</p>

            </div>
            <div class="col-md-3 ">
                <img class="inline-photo " src="http://d12b8ry2hpzpk0.cloudfront.net/groves_smile.jpg " style="width: 100%; ">
                <div class="inline-photo-caption ">
                    A young Dean Groves
                </div>
            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-8 col-md-4 col-md-offset-1 col-xs-offset-1 section-header ">
            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>Jack Chellman, a fourth-year College student and former Queer Student Union president, says Groves &mdash; who identifies as a gay man &mdash; has been involved with the LGBTQ community on Grounds. </p>

                <p>&ldquo;He always comes to the first meeting of the year, welcoming our new members and extending an invite to his office if someone were to need anything or any kind of support,&rdquo; Chellman said. &ldquo;He has made real contributions
                    to the minority community.&rdquo;</p>

                <p>Groves said that changing the perception of his office from a scary place of punishment to a place where students feel comfortable to come to talk and seek support is his greatest achievement during his tenure as dean.</p>

                <p>&ldquo;By doing that, especially when you think about underserved populations and minority organizations, by being visible and talking with students and engaging with them, I think that&rsquo;s the way create that sort of space,&rdquo;
                    Groves said. &ldquo;It was not that way when I came into the position.&rdquo;</p>

                <p>Groves reached for a sheet of paper on his desk, a printout of a Google calendar. The itinerary showed meetings with students all day.</p>

                <p>&ldquo;Whenever a student invites me, I go,&rdquo; Groves said. &ldquo;Sometimes I&rsquo;ll schedule myself for three dinners.&rdquo;</p>

                <p>But that day in particular was unusual, he said. Typically, he will have more meetings with administration, so that was a good day &mdash; the interaction with students is what Groves values and enjoys the most about his job. </p>

                <p>&ldquo;Whether it&rsquo;s one on one or in groups, I love being able to engage with students and talk with students and hear about their experience and do what I can to help make this important part of their lives as valuable and as meaningful
                    as it can be,&rdquo; Groves said. &ldquo;That&rsquo;s the best part of the job.&rdquo;</p>

                <p>Groves said he wants to hear what students have to say and wants to support them in all the ways he is able.</p>

                <p>&ldquo;Individuals should have the right to express their own political and social views.&rdquo; Groves said. &ldquo;I would fully support the right of every student to take whatever position they believe. It is their right to express
                    strongly-held views as long as it does not harm other people.&rdquo;</p>

                <p>Ironically, Groves says the most challenging aspect of his position is that he is not always free to speak his mind. Due to the high-ranking position he holds at a state university, Groves&rsquo; own freedom of speech is somewhat restricted.
                    He cannot enjoy the same flexibility as most people, and is often forced to decline a handful of interviews or to make a statement.</p>

                <p>Leaning back into his chair and folding his hands, he began reflecting on what&rsquo;s brought him to Charlottesville and the University.</p>


                <p>Groves was born in Fort Lauderdale, Fla. in 1960. During his senior year of high school, his father died unexpectedly from a heart attack. He attended Stetson College in DeLand, Fla. for his undergraduate degree because it was close to
                    home, making it easy for him to check on his mom, he said. While there, Groves joined the Phi Kappa Alpha fraternity. </p>

                <p>&ldquo;When it's done right, it can be a truly great experience for a young man,&rdquo; Groves said. &ldquo;Especially given the recent death of my father when I went to college, the older brothers in the fraternity played an important
                    role in helping me get through that.&rdquo;</p>

                <p>He attended law school at the University and worked as the area housing coordinator for what was at the time the new dorms on Grounds. After graduation, Groves moved to Atlanta and joined a large law firm, Seyfarth Shaw, where he worked
                    for 16 years and became a partner.</p>

                <p>As an attorney, Groves worked in employment law, specifically dealing with trade secret disputes. Similar to his current position at the University, he mentored younger lawyers, helping them to decided what path they wanted to take in
                    their own law careers. </p>

                <p>&ldquo;He gave me really good advice that I give to younger lawyers [now] when they are trying to specialize,&rdquo; said Michael Elkon, one of Groves&rsquo; mentees. &ldquo;He had everything at this big law firm, but he wanted something
                    more and to make a decision [to leave the legal profession] takes guts and confidence. I respect the hell out of that.&rdquo;</p>

                <p>Nonetheless, Elkon said academica suits Groves a bit better. Litigation takes what Elkon called &ldquo;fangs,&rdquo; and although he said Groves had &ldquo;fangs,&rdquo; he didn&rsquo;t like to employ them.</p>

                <p>Groves and his husband, Adam Donovan-Groves, moved to Charlottesville in 2006. Groves became the development officer for the Division of Student Affairs at the University, and continued to work in this position as he became interim dean
                    of students. In June 2008, he became the University&rsquo;s associate vice president and dean of students. </p>

                <p>Donovan-Groves began a wedding planning business, Donovan-Groves Events, for which he is acclaimed by both Vogue and Southern Living. </p>

                <p>Groves said the University has welcomed them as it would any heterosexual couple, even before the two were legally allowed to marry. However, when asked about how he feels the University has treated them as a gay couple, Donovan-Groves
                    said &ldquo;mostly welcome,&rdquo; followed by a long pause &mdash; he declined to elaborate on any specific issues.</p>

                <p>Nonetheless, both say they love the University and the greater Charlottesville area. They enjoy going to the Blue Ridge Mountains and to vineyards, and often take their older, adopted dog Gracie on these excursions. </p>

                <p>&ldquo;U.Va. wasn&rsquo;t my school, but I have come to love it,&rdquo; Donovan-Groves said. &ldquo;Allen is very happy here, and that makes me very happy.&rdquo;</p>

                <p>Groves said he is open about who he is and what he believes, and he works to help and protect others to do the same as they voice their beliefs.</p>

                <p>&ldquo;I have tried to live my life with honesty, with integrity,&rdquo; Groves said. &ldquo;I have never shied away from who I am.&rdquo;</p>

                <p>These are qualities Donovan-Groves said are Groves&rsquo; best, and Groves&rsquo; sister agreed.</p>

                <p>&ldquo;I want people to understand how much he cares,&rdquo; Collins said. &ldquo;It&rsquo;s not an act &mdash; that&rsquo;s who he is. He loves U.Va., and he loves his students.&rdquo; </p>

            </div>
        </div>
    </body>

</html>