<html>
    <title>abcd Magazine</title>

    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
        <script src="npm/velocity-animate/velocity.js" type="text/javascript"></script>
        <script src="javascripts/honor.js" type="text/javascript"></script>
        <script src="npm/swiper/dist/js/swiper.min.js"></script>
        <link rel="stylesheet" href="npm/swiper/dist/css/swiper.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width" />
        <meta content="An Honor Retrospective" property="og:title">
        <meta content="Student Self-governance at The University of Virginia" property="og:description">
        <meta content="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/devin.jpeg" property="og:image">
        <meta content="summary_large_image" name="twitter:card">
        <meta content="An Honor Retrospective" name="twitter:title">
        <meta content="Student Self-governance at The University of Virginia" name="twitter:description">
        <meta content="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/devin.jpeg" name="twitter:image:src">
    </head>

    <body>

        <div class="secondary-promo">
            <!--div class="top-line">An Internet Publication </div>
                <div class="top-line">by The Cavalier Daily</div-->
            <!-- Twitter -->
            <div class="share">
                <a href="https://twitter.com/share?url=http://www.abcdmag.com/honor&text=Student Self-Governance at The University of Virginia" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>
            <a href="/">
                <img src="http://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/abcd.png">
            </a>
        </div>
        <div class="container-fluid">
            <div class="empty-top-container row clearfix">
                <div class=" col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-2  ">
                    <div class="top-sub empty-top-meta-container">
                        <div class="top-heading honor-heading">
                            An Honor Retrospective
                        </div>

                        <div class="top-byline ">
                            By Kate Bellows
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header">
                    The Honor System at 175
                </div>
            </div>
            <div class="row ">
                <div id="bodyText" class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5" style="padding: 5px;">

                    <p>It was Monday morning, July 24, and hundreds of rising first-years huddled in Slaughter Recreation Center for Orientation. As Tab Enoch, Orientation and New Student Programs director, left the stage, she remarked that the next speaker
                        resembled Bruno Mars. Honor Committee chair Devin Rossin took the podium.</p>

                    <p>&ldquo;Why do you have to put me out there like that?&rdquo; Rossin, a fourth-year College student, joked. The first-years laughed. &ldquo;Thanks, Tab.&rdquo;</p>

                    <p>The tone changed swiftly to one of gravity. Silence. The students knew what Rossin&rsquo;s speech would discuss.</p>

                    <p>&ldquo;Good morning,&rdquo; Rossin said. &ldquo;My name is Devin Rossin, and as Tab said, I&rsquo;m the chairman of the University&rsquo;s Honor Committee. I&rsquo;d like to join everyone in congratulating you on your monumental achievement
                        &mdash; matriculation into the University of Virginia.&rdquo;</p>

                    <p>Rossin said he would be using his time to discuss why Honor matters.</p>

                    <p>&ldquo;If you&rsquo;re feeling skeptical about this pledge, then you&rsquo;re not alone,&rdquo; Rossin said. &ldquo;When I first came to the University in 2014, I thought the same exact thing.&rdquo;</p>

                    <p>Rossin said he was told that students could leave their backpacks in the library and know they would not be stolen. He said he thought this was naive. And just as he started to believe in the community of trust, Rossin said, disaster
                        struck.
                    </p>

                    <p>&ldquo;Less than a month after I set foot on Grounds, a second-year student, Hannah Graham, went missing and was later found to have been killed,&rdquo; Rossin said. &ldquo;A few months after that, a Rolling Stone article was released,
                        alleging a horrifying incident of sexual assault at a fraternity house on Grounds. A short while after that, a close friend and mentor of mine, Martese Johnson, was brutalized on the Corner by ABC officers.&rdquo;</p>

                    <p>He said he questioned why Honor even mattered in the wake of such awful events. But, Rossin said, the student body chose hope, deciding that Honor was more than about simply lying, cheating or stealing.</p>

                    <p>&ldquo;To be honorable is to actively stand against sexual assault,&rdquo; Rossin said. &ldquo;To be honorable is to condemn hate speech ... To be honorable is to fight for the health, safety and well-being of every single one of your
                        fellow &lsquo;Hoos.&rdquo;</p>
                </div>
            </div>
            <div class="row">
                <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header">
                    On My Honor
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5" style="padding: 5px;">
                    <p>&ldquo;I&rsquo;ve never heard of anyone leaving their cell phones on the table in public,&rdquo; first-year College student Logan Harper said after Rossin&rsquo;s speech. &ldquo;But I guess that&rsquo;s a thing here, and you can trust
                        your community.&rdquo;
                    </p>

                    <p>Outside on the field next to the Observatory Hill Dining Hall, Orientation Leaders led incoming students in ice-breakers.</p>

                    <p>&ldquo;I didn&rsquo;t realize that the Honor Committee was so involved with students,&rdquo; first-year College student James Burger said. &ldquo;I&rsquo;d always heard that that was a big deal, but I think [Rossin] really pushed what
                        a big deal it is as it relates to students and their involvement with it.&rdquo;</p>

                    <p>Yet, the Honor system has always involved the student body. The Honor system was born in response to an era of tension between students and faculty, full of frequent spats and incidents. In 1840, a student fatally shot Law Prof. Professor
                        John Davis after Davis tried to quiet a disturbance on the Lawn.</p>

                    <p>In 1842, in light of the tumult, Law Prof. Henry St. George Tucker proposed a solution.</p>

                    <p>&ldquo;Resolved, that in all future examinations &#8230; each candidate shall attach to the written answers &#8230; a certificate of the following words: I, A.B., do hereby certify on my honor that I have derived no assistance during
                        the time of this examination from any source whatsoever,&rdquo; he wrote in his resolution.</p>

                    <p>Wanting to be measured by their own standards, the students took ownership of the system, extending it beyond the classroom. The system has been completely student-run since then.</p>

                    <p>The self-declared purpose of the Honor system is to uphold the Community of Trust, defined as a culture of honesty and respect.</p>

                    <p>&ldquo;I think the ideal Honor system is that everyone is part of this community, is a Community of Trust and people don&rsquo;t lie, cheat or steal,&rdquo; said Pat Lampkin, vice president and chief student affairs officer at the
                        University. &ldquo;That&rsquo;s the ideal. That&rsquo;s what a system is in place to espouse.&rdquo;</p>

                    <p>If students do lie, cheat or steal, there is a single sanction &mdash; expulsion from the University of Virginia. Students found guilty of a significant act of lying, cheating or stealing &mdash; committed with knowledge &mdash; at
                        an Honor trial are permanently removed from the University.</p>

                    <p>However, the process of getting to that moment &mdash; in which a student is asked to leave the University &mdash; starts much earlier. </p>

                    <p>After the reporter &mdash; the person aware of a possible Honor offense &mdash; notifies the committee of a possible infraction committed by another student, they are interviewed by an Honor Advisor. If they decide to proceed with
                        the case, the advisor leads the reporter through the process.</p>

                    <p>The reported student is then contacted. The student may elect to file a Contributory Mental/Medical Disorder (CMD) or an Informed Retraction (IR) during the seven-day IR period. Their identity, as well as the identity of the reporter,
                        is confidential.</p>

                    <p>The IR, which was passed by student vote in 2013, allows a student to take responsibility for the offense, admit the offense to all affected parties and leave the University for two semesters. Between April 4, 2016, and April 2, 2017,
                        15 students elected to take the IR.</p>

                    <p>&ldquo;There were students who felt the need to fight the charge even though they knew that what they had done was wrong because they were trying to maintain their place at the institution,&rdquo; said Nicole Eramo, executive director
                        of assessment and planning for the Office of the Vice President of Student Affairs. &ldquo;And you can see why they would want to do that. But it put them in a position of maybe not being truthful, and that&rsquo;s exactly what
                        the system&rsquo;s made to not do.&rdquo;</p>

                    <p>If the reported student does not choose to take an IR or CMD, the case proceeds to a full investigation. After that, the case goes to an investigative panel, which decides whether to formally accuse the student or drop the case. If
                        the student is formally accused, then the case goes to trial.</p>

                    <p>At this time, the student may leave admitting guilt, take a CMD or go through a formal hearing. If four-fifths of the student jury finds the student guilty, the student is expelled. If not, the case is dropped.</p>

                    <p>&ldquo;Unfortunately, a few times a year, a student does go all the way through and is found guilty at a hearing,&rdquo; said Evan Pivonka, adjunct Politics professor and special assistant to the Honor Committee. &ldquo;It doesn&rsquo;t
                        happen often, and when it does, I&rsquo;m sure there&rsquo;s frustration.&rdquo;</p>

                    <p>For cases reported between April 4, 2016, and April 2, 2017, two students were found guilty at a hearing. Another student left after admitting guilt. There were a total of 49 reports during this time period.</p>

                </div>
            </div>
            <div class="row">
                <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header">
                    As a Student
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5" style="padding: 5px;">

                    <p>Leaning back on a chair in his office, Dean of Students Allen Groves remarked on a memory from his time as a Law student at the University. He represented a student accused of cheating as Counsel in a trial.</p>

                    <p>&ldquo;As someone who practiced law for 16 years before coming back to the University, I have said to students many times that whenever I was asked by lawyers, what was the biggest case I ever handled, the answer was defending that
                        student when I was a Law student,&rdquo; Groves said. &ldquo;Because I knew what was on the line for that student. I believed that they were innocent. I still do. I felt a great pressure on my shoulders to prove that.&rdquo;</p>
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-4" style="padding: 5px;">
                    <p style="padding:0"></p>
                    <p>The student was found not guilty.</p>

                    <p>&ldquo;I remember getting the phone call at my little apartment that deliberations were done, and they had reached a verdict,&rdquo; Groves said. &ldquo;And [I remember] walking back with that student and [their] parents back to Newcomb
                        Hall to await the verdict.&rdquo;</p>

                    <p>Groves said that when he was a student, the system looked very different than it does today. He returned to the University in 2006 after 16 years of practicing law.</p>

                </div>
                <div class="  pull-quote col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-3">
                    "I knew what was on the line for that student. I believed that they were innocent. I still do."
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5" style="padding: 5px;">
                    <p>&ldquo;The system has evolved throughout history,&rdquo; Groves said. &ldquo;Alums, myself included, have to have faith and confidence and trust in the current generation of students to create a system that fits their needs while being
                        consistent with the core tenets of the University.&rdquo;</p>
                    <p>But not all alums, Groves said, are pleased with the changes.</p>

                    <p>&ldquo;I think the most difficult thing for many alums is that for each of us, the perfect Honor system is the Honor system when we were a student,&rdquo; Groves said. &ldquo;I&rsquo;ll talk to alums who often say to me, &lsquo;the
                        students are messing up the Honor system, the students are messing up the Honor system.&rsquo; My view is, look, there were changes that occurred in the Honor system before you came.&rdquo;</p>

                    <p>Former Honor Chair Mike Lenox, a Darden senior associate dean and chief strategy officer, said Honor can be judged by the strength of the community of trust.</p>

                    <p>&ldquo;To me the best metric of success of an Honor system is not how many people do you catch and kick out of the school or punish in some way, it&rsquo;s to what degree is there a robust community of trust, to what degree is there
                        a lack of cheating,&rdquo; Lenox said. &ldquo;I think the evidence backs this up in that U.Va. is very unique. There&rsquo;s an epidemic of cheating across the U.S. Some of the self-reported numbers of students who say they cheat
                        in college is 80 percent plus. The numbers at U.Va. are far less than that, not that any amount is acceptable. It&rsquo;s a very different place here.&rdquo;</p>

                    <p>Thomas Hall, a two-time Honor Chair who graduated from both the College and the Law School, said smaller things can change, but the very foundations of the system should stay intact. Hall now prosecutes fraud cases for the U.S. Department
                        of Justice.</p>

                    <p>&ldquo;My advice to the students then was fiddle all you want with the above-grounds [parts] of the Honor system,&rdquo; Hall said. &ldquo;I likened it to a house ... Change the windows, put the new shutters up, just change the house,
                        but when you&rsquo;re talking about foundational aspects of the Honor system, the foundation of the house, my advice is to tread carefully. It has served [nearly 200] years now worth of alumni well during their time on Grounds
                        and beyond. To fundamentally upset that would be a significant thing and I think requires significant thought.&rdquo;</p>

                </div>
            </div>
            <div class="row">
                <div class=" col-xs-8 col-md-4 col-md-offset-1 col-xs-offset-1 section-header">
                    I Have Neither Given Nor Received
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5" style="padding: 5px;">

                    <p>Every year, the incoming first-year class attends the Opening Convocation and Honor Induction during Fall Orientation. Before students sign scrolls inked with the Honor Pledge, promising not to lie, cheat or steal during their time
                        at the University, guests and the Honor chair speak about the system.</p>

                    <p>In 2015, Hall spoke at Convocation about the Honor system.</p>

                    <p>&ldquo;Every time I stand up in front of a jury for the first time, I tell them the case they&rsquo;ll be deciding is about lying, cheating or stealing,&rdquo; Hall said at Convocation. &ldquo;That&rsquo;s an extreme example &#8230;
                        But I hope that all of you will leave Grounds with an ethical education, something that won&rsquo;t be reflected on your transcript or your r&eacute;sum&eacute;.&rdquo;</p>

                    <p>Hall said in an interview with The Cavalier Daily that the Honor system has gone through many changes since its inception &mdash; student involvement and opinion has &ldquo;waxed and waned,&rdquo; and the Constitution and bylaws have
                        been changed.
                    </p>

                    <p>&ldquo;The thesis that I laid out there, or one of the aspects that I laid out there, was that the Honor system is always changing,&rdquo; Hall said. &ldquo;The Honor system of 2017 looks very different from the Honor system of 1987
                        and of 1967.&rdquo;
                    </p>

                    <p>But Hall said many of today&rsquo;s issues existed when he was chair in 2000-01 and 2001-02.</p>

                    <p>&ldquo;I think there&rsquo;s always the perspective &#8230; that the sky is falling on the Honor system,&rdquo; Hall said. &ldquo;If you look back at media coverage of the Honor system from the 60s or the 70s or the 80s, the Honor
                        system is always on the verge of collapse. Many of the issues of the Honor system are perennial ones &mdash; student consideration of the single sanction system, for instance.&rdquo;</p>

                    <p>In 2016, students narrowly failed to pass an amendment replacing the existing single-sanction system with a multiple-sanction system. The multi-sanction option garnered just under the 60 percent necessary to pass.</p>

                    <p>Other amendments have come up to vote more recently. University alumnus Nathan Gonzalez authored the &ldquo;Democratization Amendment&rdquo; this past spring, which sought to lower the 60 percent threshold to 55 percent needed to amend
                        the Constitution.
                    </p>

                    <p>&ldquo;I was surprised that we hadn&rsquo;t had a vote on the matter of if U.Va. students were interested in lowering the margin of required votes to 50 or 55 percent,&rdquo; Gonzalez said. &ldquo;I thought that was a pretty valuable
                        question to consider, thinking about the fact that the proposed amendment two election cycles ago about the single sanction [was defeated] by just a very small margin.&rdquo;</p>

                    <p>Gonzalez drafted the amendment and it appeared on the ballot in the 2017 election. It was defeated, receiving 46.62 percent of the vote.</p>

                    <p>&ldquo;It was pretty disappointing seeing the voting results,&rdquo; Gonzalez said. &ldquo;We were pretty confident that people would respond well to the idea, so &#8230; we thought we would at least get the majority of the votes.
                        Getting that 47 percent vote was a bit a blow initially. That was pretty disappointing to deal with, because I thought the idea was pretty good.&rdquo;</p>

                    <p>Gonzalez said he wished students could have had more time to think about the amendment.</p>

                    <p>&ldquo;In the end, with the Democratization Amendment, we had only two weeks, maybe one if somebody heard about it last minute,&rdquo; Gonzalez said. &ldquo;I still think people had good time to think about it, but if I could go back
                        and do it again, I would have had it in a non-binding question, so hopefully people would have voted for that amendment to be on the ballot for next year and have a whole year to discuss and debate it.&rdquo;</p>

                    <p>Gonzalez said he doesn&rsquo;t believe the Committee is representing the interests and opinions of the student body well enough.</p>

                    <p>&ldquo;The Honor Committee members suggested many times that we don&rsquo;t necessarily need popular referendums, we don&rsquo;t necessarily need them to be more powerful and easier to pass, because the opinions of the student body
                        are already representative in the fact that we elect people and representatives who are supposed to be like us and supposed to represent our interests on the board,&rdquo; Gonzalez said. &ldquo;At face value, that sounds fine,
                        but through experience, I don&rsquo;t believe it.&rdquo;</p>

                    <p>Gonzalez said the Committee was not as representative as it could be, necessitating the Democratization Amendment.</p>

                    <p>&ldquo;Even though we have people that we elect who are supposed to represent our interests &#8230; We can also have alternate methods to which we can voice our concerns,&rdquo; Gonzalez said. &ldquo;There&rsquo;s room for both.&rdquo;</p>

                </div>
            </div>
            <div class="row">
                <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header">
                    Aid On This Assignment
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5" style="padding: 5px;">

                    <p>Em Flynn, a second-year Engineering student, spent the summer in Charlottesville to work on her project for the Honor Fellowship.</p>

                    <p>&ldquo;My project is looking at professor-student communication from the professors&rsquo; side,&rdquo; Flynn said. &ldquo;I&rsquo;m interviewing a lot of professors and it has a special focus on students with accommodations, so students
                        with SDAC [Student Disability Access Center accommodations].&rdquo;</p>

                    <p>Flynn is hard of hearing and said the project arose out of experience with her accommodations getting in the way of communicating with professors. She said that if a professor writes what he or she says down, the problem can be fixed
                        fairly easily.
                    </p>

                    <p>&ldquo;Professors will say something in class, and for obvious reasons, I won&rsquo;t hear it, and sometimes they will write it down, sometimes they don&rsquo;t,&rdquo; Flynn said. &ldquo;If they don&rsquo;t write it down, then I&rsquo;ll
                        have to go ask them for clarification or ask someone else for clarification. If I&rsquo;m not on my game all the time, asking people all the time, then I could miss something and that could result in an Honor offense or just a
                        really bad grade.&rdquo;
                    </p>

                    <p>Currently, if a student takes a Contributory Mental or Medical Disorder, they must admit guilt first.</p>

                    <p>&ldquo;Disability .... plays a large part in how students conduct themselves in the classroom and when they&rsquo;re communicating with professors,&rdquo; Flynn said. &ldquo;So having to admit guilt before considering that seems fundamentally
                        unfair &#8230; To have that disability considered in the case, I think that would be something that would be good to change.&rdquo;</p>

                    <p>Inside and outside the system, many have asked whether the system is fair for international students.</p>

                    <p>Last year, Engineering graduate student Georgina Hunt, an international student from Britain, chose an open trial and was found guilty of cheating.</p>

                    <p>After Hunt&rsquo;s expulsion, some said the Honor Committee was unfair to international students, citing barriers like language and cultural norms as standing in the way of understanding the Honor Code.</p>

                    <p>&ldquo;I can&rsquo;t really wrap my mind around what it would mean to leave my country all together into a scary country that is so very different from ours,&rdquo; said Lauren LeVan, a fourth-year College student and Asian Student
                        Union president. &ldquo;If you&rsquo;re throwing all these things like I will never lie, cheat or steal, or neither given nor received, it can get a little dicey.&rdquo;</p>

                    <p>Rossin said there are many safeguards to ensure due process for and maintain the rights of reported students.</p>

                    <p>&ldquo;When cases are given to us, we treat every single student incredibly fairly,&rdquo; Rossin said. &ldquo;If you look at just our numbers from last year, 49 reports, only three students being found guilty after that ... I believe
                        that the Honor internal proceedings are incredibly fair.&rdquo;</p>

                    <p>LeVan said language barriers could stand in the way of international students&rsquo; understanding of the Honor system.</p>

                    <p>&ldquo;Especially for international students &#8230; maybe they are fluent in English but there are certain things that they don&rsquo;t completely understand, like double negatives,&rdquo; LeVan said. &ldquo;Language barriers create
                        a huge barrier in Honor offenses, [but] I&rsquo;m not sure what the statistics are.&rdquo;</p>

                    <p>In addition to language barriers, LeVan said, international students must acclimate to a new country.</p>

                    <p>&ldquo;There&rsquo;s already so many things you have to get used to coming to college,&rdquo; LeVan said. &ldquo;I can&rsquo;t really wrap my mind around what it would mean to leave my country all together into a scary country that
                        is so very different from ours. If you&rsquo;re throwing all these things like I will never lie, cheat or steal, or neither given nor received, it can get a little dicey.&rdquo;</p>

                    <p>LeVan said she believes the system can be improved by becoming more transparent.</p>

                    <p>&ldquo;[My ideal Honor system is] one that&rsquo;s open and transparent,&rdquo; LeVan said. &ldquo;I think like any democratic system, the more people that are involved in it, the more true to its constituents it would be. To integrate
                        Honor more into daily life and into the student body instead of seeing it like this scary, looming parent organization that may or may not be able to expel us from the school &#8230; I think would be awesome.&rdquo;</p>

                    <p>Brandt Welch, a fourth-year Engineering student and Honor vice-chair for outreach , said that he believed Honor could better engage international students, and that the Committee plans to work on engagement throughout the year.</p>

                    <p>&ldquo;I don't believe that there are enough international students in Honor to give a proper voice to the challenges that international students face as it relates to Honor,&rdquo; Welch said in an email to The Cavalier Daily. &ldquo;This
                        can be solved through better outreach when it comes to recruiting and continuing to make sure that Honor is a welcoming space for all students.&#8203;&rdquo;</p>

                    <p>Welch said he believed international students could face challenges in understanding an Honor policy, especially if they do not feel comfortable with English, putting them at a higher risk for commission of Honor offenses.</p>

                    <p>&ldquo;To combat this, professors must go the extra mile to ensure that all students understand what is and is not acceptable in a particular class,&rdquo; Welch said.</p>

                    <p>Tamia Walker-Atwater, a fourth-year Nursing student and Honor vice-chair for education , is also working on improving the relationship between Honor and international students.</p>

                    <p>&ldquo;Last spring semester Matt [West, former Honor chair] got the idea to put together an international student handbook,&rdquo; Walker-Atwater said. &ldquo;One of the main foci of my campaign was to create translations of the handbook.
                        We hope to have the whole thing translated into five different languages by the end of this year.&rdquo;</p>

                    <p>Rossin said one of his priorities for this year is outreach to international students, as well as greater representation of international students in the support officer pool and Committee.</p>

                    <p>&ldquo;International students have been over-reported, just based on what I&rsquo;ve seen back in my days as a [support officer],&rdquo; Rossin said. &ldquo;We just need to do a better job of education outreach to every single community
                        on Grounds and groups that have been underrepresented in the system.&rdquo;</p>

                    <p>Rossin said he would be speaking at the international students&rsquo; orientation.</p>

                    <p>&ldquo;The [Honor system here] is probably pretty different from what they&rsquo;ve seen in the past,&rdquo; Rossin said. &ldquo;The Honor system is not only an incredibly Western notion of what Honor is, but also an incredibly Southern
                        notion. It may be a departure from what other folks think of academic integrity.&rdquo;</p>
                </div>
            </div>
            <div class="row">
                <div class=" col-xs-8 col-md-3 col-md-offset-4 col-xs-offset-1 section-header" style="padding:0">
                </div>
            </div>
            <div class="row ">
                <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5" style="padding: 5px;">

                    <p>Back at Slaughter Recreation Center, students were still silent. Rossin stood at the podium.</p>

                    <p>&ldquo;I say all of this to you because, in the words of one of my predecessors, we&rsquo;ve been selling ourselves short,&rdquo; Rossin said. &ldquo;When asking what Honor is, we&rsquo;ve too often responded with some anecdote about
                        leaving our belongings somewhere on Grounds, only to find them untouched weeks and weeks later. And as impressive as this is, it doesn&rsquo;t speak to the core of what Honor stands for.&rdquo;</p>

                    <p>Rossin said Honor is defined by the students holding it. Now, those students include the Class of 2021.</p>

                    <p>&ldquo;As I enter my last year here, I speak for the Honor Committee when I say that I look forward to handing you all the torch,&rdquo; Rossin closed. &ldquo;Welcome to the University of Virginia.&rdquo;</p>
                </div>
            </div>

    </body>

</html>