<html>
<title>abcd Magazine</title>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="npm/velocity-animate/velocity.js" type="text/javascript"></script>
    <script src="javascripts/diamond.js" type="text/javascript"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-105772369-1', 'auto');
        ga('send', 'pageview');
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style-flex.css">
    <link rel="stylesheet" href="stylesheets/murals.css">
    <link rel="shortcut icon" href="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/icon.png" type="image/x-icon">
    <link rel="shortcut icon" href="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <meta content="The city that wears its art on its sleeve" property="og:title">
    <meta content="Charlottesville's murals illustrate a city wrestling with its identity" property="og:description">
    <meta content="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Murals1.JPG" property="og:image">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="The city that wears its art on its sleeve" name="twitter:title">
    <meta content="Charlottesville's murals illustrate a city wrestling with its identity" ame="twitter:description ">
    <meta content="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Murals1.JPG" name="twitter:image:src ">
</head>

<body>
    <div class="secondary-promo ">
        <div class="share">
            <a href="http://www.cavalierdaily.com">
                <img class="navbar-image" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/CD_Circle.png">
            </a>
            <a href="https://twitter.com/share?url=http://www.abcdmag.com/the-city-that-wears-its-art-on-its-sleeve&text=Charlottesville's murals illustrate a city wrestling with its identity" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/dialog/share?app_id=115484705817318&display=popup&href=http://www.abcdmag.com/the-city-that-wears-its-art-on-its-sleeve"
                target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </div>
        <a href="/ ">
            <img src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/abcd.png ">
        </a>
    </div>
    <div class="container-fluid ">
        <div id="muralsPhoto" class="top-container row clearfix">
            <div class=" col-md-4 col-md-offset-8" style=" height: 100%; color: black; padding-right: 1%">
                <div class="top-sub top-meta-container " style="padding-top:75px">
                    <div class="top-heading ">
                        The city that wears its art on its sleeve
                    </div>
                    <div class="top-subheading ">
                        Charlottesville's murals illustrate a city wrestling with its identity
                    </div>
                    <div class="top-byline ">
                        Words by Ben Hitchcock and Thomas Roades
                    </div>
                    <div class="top-byline">
                        Photos by Andrew Walsh
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Charlottesville's most popular mural could not be more straightforward: "I LOVE CHARLOTTESVILLE A LOT," reads the wall of
                    Fitzgerald's Tires in Belmont. The jauntily spaced red and black letters are a pilgrimage site for residents
                    and students alike, a focal point in a town that loves art and loves itself.
                </p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-7 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Murals1.JPG" style="width: 100%;">
                <div class="inline-photo-caption">
                    “I Love Charlottesville a Lot,” at Fitzgerald’s Tires, is perhaps Charlottesville’s most popular mural.
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Charlottesville's walls have become increasingly colorful over the last few years, as artists and organizations have leapt
                    at the chance to reimagine the visual landscape of a rapidly changing city. The Tom Tom Founders Festival
                    City as Canvas Mural Project has sponsored multiple murals since its founding three years ago; The Bridge
                    Progressive Arts Initiative's Charlottesville Mural Project, founded in 2011, has commissioned and consulted
                    more than a dozen murals, including "I Love Charlottesville" and the abstraction on the side of The Graduate
                    Hotel. Charlottesville now wears its art on its sleeve.
                </p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-7 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Murals2.JPG" style="width: 100%;">
                <div class="inline-photo-caption">
                    The Bridge Progressive Arts Initiative, which has commissioned numerous Charlottesville murals, is itself covered in public
                    art.
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    This vibrant evolution becomes more complicated in the wake of Aug. 12 and the ensuing period of town-wide self-reflection.
                    As many have recently noted, Charlottesville's class of well-educated, high-earning white liberals have
                    long engaged in a dangerous sort of "performative progressivism." After President Donald Trump's election,
                    Mayor Mike Signer declared Charlottesville the
                    <a href="http://www.cavalierdaily.com/article/2017/02/charlottesville-mayor-declares-city-a-capital-of-the-resistance">"Capital of the Resistance."</a> The city feels like ground zero for new-age, lumbersexual, craft-beer
                    liberalism, likely home to more Priuses and Bernie stickers per capita than anywhere else in the state.
                    But this brand of progressivism often falls short of creating real progress. Slapping a nice picture
                    on a wall in a decrepit neighborhood and claiming to have made a tangible difference exemplifies this
                    trend.
                </p>
                <p>
                    This context casts the various strategies adopted by Charlottesville's muralists into a new light. Some of Charlottesville's
                    murals are bold and subversive and brash. Works by artists like Kaki Dimock and Tandem Friends School
                    are squarely situated in the tradition of the mural as political activism — as the shard of Berlin Wall
                    outside Alderman reminds us, street art has long been a powerful tool in the hands of grassroots change-makers.
                    Other muralists like Mickael Broth have embraced the abstract and apolitical in their art. Meanwhile,
                    work by Chicho Lorenzo aims for a different sort of activism, an activism of aspiration, depicting not
                    what is but what could be. The merits and flaws of these respective styles have been thrown into sharp
                    focus by Charlottesville's extraordinary political moment.
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
            </div>
        </div>

        <div class="row ">
            <div class="col-md-7 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Murals3.JPG" style="width: 100%;">
                <div class="inline-photo-caption">
                    Look closely to see a street sign painted with checkers to blend into this mural at Mas Tapas — a lighthearted and creative
                    touch characteristic of artist Chicho Lorenzo.
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Just around the corner from "I Love Charlottesville," a similarly optimistic mural covers the side of the restaurant Mas
                    Tapas. The "Floating Banquet," painted early last year by artist Chicho Lorenzo, depicts a joyful scene
                    — adults and children of all races and walks of life frolic through the sky or sit at a long banquet
                    table, quaffing margaritas and laughing with each other. The mural is colorful, cartoonish, full of movement
                    and life, no frowns in sight. It playfully incorporates in with the surrounding environment, featuring
                    a street sign that's been painted to blend in with the mural, and a streetlight grasped in one of the
                    revelers' hands as though it's a cup.
                </p>
                <p>
                    The mural's spirit echoes its creator. Lorenzo, originally from Madrid, arrived in Charlottesville in 2008 and has since
                    painted murals in Belmont, at IX Art Park and near Barracks Road, as well as worked with local elementary
                    schools. Lorenzo seems eternally cheerful — humble and quick to laugh, he signs his emails "Love&Rhythm."
                </p>
                <p>
                    Lorenzo's art may seem impossibly placid, but the effect is purposeful. Lorenzo understands art as providing an ideal for
                    people and communities to strive towards.
                </p>
                <p>
                    "People ask me … I see just positive stuff, not negative," Lorenzo said. "And I say yeah, because this is the possibility.
                    This is the community that I believe we are and we can be. So somehow painting that … makes it real in
                    the mind of people who see that mural."
                </p>
                <p>
                    Though it isn't activism in the traditional controversial, disruptive sense, Lorenzo believes his strategy can create real,
                    sweeping change.
                </p>
                <p>
                    "Art, in general, is intrinsically political activism," he remarked, positing that artists can be leaders by setting an example.
                    "We imagine the unreal, the possibility. That should inspire everyone else to somehow consider those
                    possibilities, so somehow they move society forward."
                </p>
                <p>
                    Lorenzo's optimism is admirable, but his murals leave themselves open to misinterpretation. Out in the wild, without Lorenzo
                    — or a handy museum exhibition plaque — to explain, the murals are easily read as a depiction of Charlottesville's
                    reality, rather than Charlottesville's unrealized future. In a city with a troubling habit of patting
                    itself on the back a little too readily, simple depictions of a perfectly harmonious society read like
                    a whitewashing of more complex issues. In 2014, Charlottesville was
                    <a href="https://www.theguardian.com/world/2014/jul/27/happiness-place-called-charlottesville-virginia">voted the happiest place in the country</a>, despite facing problems like sweeping gentrification and
                    a mounting housing crisis that disproportionately affected low-income and minority residents. Lorenzo's
                    art does not agitate this status quo.
                </p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-7 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Murals4.JPG" style="width: 100%;">
                <div class="inline-photo-caption">
                    Lorenzo’s mural offers a cheerful, perhaps idealistic vision of Charlottesville.
                </div>
            </div>
        </div>


        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Lorenzo's aim isn't disruption — it's charm.
                </p>
                <p></p>
                <p>
                    "I paint with colors and shapes that people find beautiful," he said. Lorenzo sees this attitude echoed by the other artists
                    and residents of the city. "Charlottesville, it's a gardening community. We love our gardens, our flowers.
                    We love this aesthetic."
                </p>
                <p>
                    Lorenzo feels that his cheerful style fits Charlottesville's longstanding ethos of focusing on the good things and ignoring
                    the uncomfortable — an ethos the city has been working hard to shed.
                </p>
                <p>
                    "Even if I try not to be beautiful, and try to do it a little bit wild, it comes always soft, which fits the atmosphere in
                    Charlottesville," he said. "Soft and easy art."
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
            </div>
        </div>


        <div class="row ">
            <div class="col-md-7 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Murals5.JPG" style="width: 100%;">
                <div class="inline-photo-caption">
                    Broth’s 240’ mural stretches around a corner on Garrett St.
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Mickael Broth, a primarily Richmond-based artist who has also painted several Charlottesville murals, learned the hard way
                    that art is not always easy.
                </p>
                <p>
                    "I got into painting large-scale exterior surfaces as a teenager by painting graffiti," he said. His career as a graffiti
                    artist was cut short abruptly, however — "That didn't end well, I wound up doing almost a year in jail
                    in Richmond for my involvement in graffiti," Broth said. "After that, I really stuck to doing drawings
                    on paper for a long time afterwards."
                </p>
                <p>
                    Since then, he's established himself as a well-known muralist in Richmond, receiving a Virginia Museum of Fine Arts professional
                    fellowship in 2008. Though much of his work has been in Richmond, Broth has still made his mark on the
                    walls of Charlottesville as well. In 2015, he was the Artist in Residence for the Tom Tom Festival, during
                    which he painted a 240-foot-long mural on Garrett Street and another at Charlottesville Sanitary Supply,
                    as well as a Charlottesville City Transit bus — a sort of moving mural.
                </p>
            </div>
        </div>


        <div class="row ">
            <div class="col-md-7 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Murals6.JPG" style="width: 100%;">
                <div class="inline-photo-caption">
                    Broth’s mural at Charlottesville Sanitary Supply is more abstract, and its street art style hints at his origins as a graffiti
                    artist.
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    &ldquo; [Painting a bus] was a new experience for [Tom Tom], and I think they were trying to do something creative and different,"
                    Broth said. "It was all done with spray paint, and then [the bus] ran for two months I think before it
                    was taken out of service."
                </p>
                <p>
                    "We went into it knowing that this was a temporary thing," he said. "[Murals] are sort of medium-term permanent. They can
                    last 20 years, 50 years, but in general it's a medium that isn't this lifetime commitment and it can
                    be a temporary thing. The ephemeral nature of the work itself is in a lot of ways important for the appreciation
                    of it."
                </p>
                <p>
                    Broth said he rarely has one specific message he wishes to convey with his pieces — "public art is ... out in public and
                    people will bring their personal experiences and interpretations to it," he explained. As a result, his
                    work tends to remain apolitical. His street art style is in itself a bit edgy — reminiscent of his roots
                    as a graffiti artist — but its subject matter is generally abstract and uncontroversial. Broth's massive
                    mural on Garrett Street tends toward the surreal, with faces that seem to expand as they melt into each
                    other and eye-catching color. The wall at Charlottesville Sanitary Supply displays a more calming color
                    scheme, but just as much abstract action in its tangled mass of lines. His work in Richmond is similarly
                    unconcerned with explicit political statement — recent subjects include Will Smith, C-3PO, and Madonna.
                </p>
                <p>
                    Though Broth rarely tries to make any one distinct statement with his murals, he did describe the medium as a form of expression
                    for a city's residents and one that can be constantly changing due to its aforementioned ephemeral nature.
                </p>
                <p>
                    He explained the prevalence of murals in his hometown of Richmond as a movement of self-expression and civic pride.
                </p>
                <p>
                    "The visual landscape is now far more representative of the culture of the city," he said. "For a long time the city has
                    had a very conservative tilt to it, but there was always this appreciation for art and for creative expression
                    brewing under the surface, and finally we're at a point where that is what is being represented visually."
                </p>
                <p>
                    Public art inherently lends itself to that kind of public representation, Broth said.
                    <br>

                </p>
                <p>
                    "Public art murals have somewhat of a political or ideological … sense in that it's taking art out of a museum or a gallery
                    or institution and bringing it to the public," he said. "It democratizes [art], that idea that everyone
                    should be able to experience art."
                </p>
                <p>
                    Broth is the founder of the Welcoming Walls initiative, a project that brings murals to the streets of Richmond with the
                    goal of building community spirit.
                </p>
                <p>
                    Broth is right that murals, just by their very existence, can deconstruct traditional systems and "democratize" art. But
                    abstraction only has so much power when it's not coupled with interpretation. Broth doesn't concern himself
                    with political nuance. Like, for example, the "I Love Charlottesville" mural, urban beautification and
                    civic pride are goals of Broth's work.
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
            </div>
        </div>

        <div class="row ">
            <div class="col-md-7 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Murals7.JPG" style="width: 100%;">
                <div class="inline-photo-caption">
                    Kaki Dimock’s mural by the train tracks downtown has an overt political message, celebrating the anniversary of the passage
                    of the Clean Water Act.
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Murals can do more than that, however. The Rivanna River Watershed mural, located at the intersection of First Street and
                    the train tracks, was painted by local artist Kaki Dimock in 2013 in celebration of the 40th anniversary
                    of the passage of the Clean Water Act. In collaboration with StreamWatch, the Rivanna Conservation Society,
                    Rivanna River Basin Commission and the Charlottesville Mural Project, Dimock received over $11,000 in
                    funding through a Kickstarter for the project, which she said celebrates the law as a successful public
                    policy that's benefitted many people.
                    <br>

                </p>
                <p>
                    The piece depicts the Blue Ridge Mountains above several iconic University and Charlottesville buildings all resting atop
                    an underwater scene featuring wildlife from the Rivanna River Basin — a symbolic representation of the
                    relationship between the human community and the natural environment, according to Dimock.
                </p>
                <p>
                    Though a celebration of clean water is hardly a controversial stance, Dimock's work subtly nudges its beholders to reconsider
                    their entire worldview in terms of their relationship to the natural world.
                </p>
                <p>
                    "My work … is a challenge to the human viewer to consider animals in a different way," she said. "I'm sort of trying to turn
                    the tables a little bit and accentuate the need to balance our use of the environment with the animals
                    we share it with. That is certainly an intentional and motivating thought for me as an artist."
                </p>
                <p>
                    This is a theme not only in this particular mural, but throughout Dimock's work, she said. Much of her work is in pen and
                    ink, and occasionally watercolor, so the mural was a break from her preferred mediums, yet it still contains
                    her signature focus on the importance of the animal world and its relationship to ours.
                </p>
                <p>
                    "The boundaries between the human world and the animal world … are more fragile than we think," Dimock said. In order to
                    get that message across, she often brings the two together in unconventional ways, breaking down those
                    boundaries with somewhat surreal artwork "accentuating animals over the built environment, or placing
                    them in strange environments."
                </p>
                <p>
                    In the First Street mural, that juxtaposition manifests itself in the thin brown line separating the ground beneath the painted
                    Rotunda and the vast expanse of water just below it. Though the buildings that define Charlottesville
                    and Grounds are present, they're hardly the mural's focus. Instead, the underwater scene takes up about
                    two-thirds of the space, with fish arranged in concentric circles that instantly draw the eye down. The
                    river environment serves as the foundation for the man-made landmarks that are central to the city —
                    demonstrating our dependence on the natural environment and, in particular, on clean water.
                </p>
                <p>
                    That concept of nature as the foundation on which humans are dependent is characteristic of Dimock's work. "You might see
                    a drawing of a town in my work, but the town is on the back of a giant red kangaroo," she said.
                </p>
                <p>
                    Though paint-on-brick murals are not her usual medium in which to work, Dimock expressed an appreciation for the inherent
                    subversiveness that accompanies the art form.
                    <br>
                    <br> "I would suggest that … murals are an act of activism and a little bit assertive in that art used to
                    be the private domain of the rich," she said. "The idea of public art means it's automatically a little
                    bit subversive, it is to say that beautiful things with meaning belong to all of us."
                </p>
                <p>
                    She seemed to think that message was especially appropriate for a mural celebrating clean water — a natural resource on which
                    we all depend.
                </p>
                <p>
                    "Water is everybody's in the same sort of way," Dimock said. "It felt to me that there were a lot of parallels between the
                    water basin and the idea of [public] art."
                </p>
                <p>
                    Dimock environmental agenda means her murals carry weight as agents of community change. Water conservation may not be controversial,
                    but it's a worthy goal, and Dimock's murals advocate for change by distorting both physical and mental
                    space.
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
            </div>
        </div>

        <div class="row ">
            <div class="col-md-7 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Murals8.JPG" style="width: 100%;">
                <div class="inline-photo-caption">
                    A mural of two Native American Chiefs is barely visible in a narrow alley behind the Main St. Marriott.
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Charlottesville's most disruptive mural is no longer visible without a little bit of searching. On Main Street, a narrow
                    alleyway squeezes between the Grand Market Afghan grocery and the Marriott Hotel. Two Native American
                    chiefs wearing traditional feathered headdresses stare sternly down from the wall of the Market. In 2011,
                    when the chiefs were first painted, their line of sight cut across the corner of the street and fell
                    upon the statue of Lewis, Clark and Sacagawea that stands at the intersection of Main, Ridge and McIntire.
                    Now, their view is obstructed by the hotel.
                </p>
                <p>
                    Unlike Lorenzo or Broth, the Tandem Friends School students who painted this mural had an explicit political agenda, based
                    around subversion of the city's status quo. Jack Ronayne, one of the Tandem students who worked on painting
                    the mural, said that the mural represented a response to the statue across the street.
                </p>
                <p>
                    "I've always looked at the Sacagawea statue as being one of the worst statues in town," he said, "just because it shows her
                    as cowering and subservient, and that's not what she was like in actuality. She was leading the charge,
                    leading these totally dumb blind white men through the woods."
                </p>
                <p>
                    The students who painted the mural aimed to undermine the statue's comfortable, well-worn message.
                </p>
                <p>
                    "To have the two chiefs from the west kind of giving you this solemn, pointed stare, it just makes you reset," Ronayne said.
                    "Like maybe we should think about what we did to the Native Americans, and how the land was taken."
                </p>
                <p>
                    The mural was commissioned by Ryan Deramus, at the time owner of Random Row Books, a used bookstore that had occupied the
                    lot where the Marriott now stands. In a blog post written just after the completion of the mural, Deramus
                    echoed Ronayne's sentiments.
                </p>
                <p>
                    "It was clear from the beginning that it should directly contrast the perspective presented in the Lewis, Clark, and Sacagawea
                    statue," Deramus wrote of the mural. The people behind this mural aimed to create contrast and tension.
                </p>
                <p>
                    The city resisted the mural immediately. Charlottesville declared the mural had been painted in a historic district and would
                    need to be presented to the city's Board of Architectural Review. He was asked by the City to retroactively
                    apply for a permit and pay the $100 application fee. Deramus scoffed at the threats of the bureaucracy.
                </p>
                <p>
                    The mural eventually withstood the city's resistance only to face new troubles two years later in 2013 when Random Row Books
                    closed its doors. The building, a former auto repair shop, was demolished to make room for the hotel,
                    which towers over the wall featuring the mural, and leaves an alley only a few feet wide from which to
                    view it. Random Row was a community attraction — in addition to displaying the mural, the store hosted
                    music shows, theater performances and conversations with local political activists. In its place now
                    stands a Marriott, smooth tan concrete walls pressed up against the noses of the noble chiefs on the
                    side of the neighboring building. The students' brave statement and energetic activism is occluded by
                    a cookie-cutter box full of uncomfortable beds.
                </p>
                <p>
                    The story of the Native American shows that Charlottesville needs more activism like the kind expressed by the Tandem students.
                    There is still plenty in this city worth subverting and questioning. The community faces an affordable
                    housing crisis at the same time as luxury apartment buildings continue to rise on West Main Street. The
                    Lee statue still stands in Emancipation Park. Even after a year of important self-reflection, Charlottesville
                    still needs an honest reminder of what it is, not a heartwarming declaration of what it can be.
                </p>
            </div>
        </div>

        <!-- <div class="top-container row clearfix">
            <div style=" height: 100%;color:black ">

                <div id="map_wrapper">
                    <div id="map_canvas" class="mapping"></div>
                </div>

            </div>
        </div> -->


    </div>

    <!-- <script>
        jQuery(function ($) {
            // Asynchronously Load the map API 
            var script = document.createElement('script');
            script.src = "//maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
            document.body.appendChild(script);
        });

        function initialize() {
            var map;
            var bounds = new google.maps.LatLngBounds();
            var mapOptions = {
                mapTypeId: 'roadmap'
            };

            // Display a map on the page
            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            map.setTilt(45);

            // Multiple Markers
            var markers = [
                ['I Love Charlottesville Mural', 38.025252, -78.475075],
                ['Old Cheyenne Mural', 38.030666, -78.486051],
                ['Rivanna River Basin Project', 38.029040, -78.482239]
            ];

            // Info Window Content
            var infoWindowContent = [
                ['<div class="info_content">' +
                    '<h6 class="map_callouts"><b>I Love Charlottesville</b></h6>' +
                    '<p>blurb.</p>' + '</div>'],
                ['<div class="info_content">' +
                    '<h6>Old Cheyenne Mural</h6>' +
                    '<p>blurb.</p>' +
                    '</div>'],
                ['<div class="info_content">' +
                    '<h5>Rivanna River Basin Project</h5>' +
                    '<p>blurb.</p>' +
                    '</div>']
            ];

            // Display multiple markers on a map
            var infoWindow = new google.maps.InfoWindow(), marker, i;

            // Loop through our array of markers & place each one on the map  
            for (i = 0; i < markers.length; i++) {
                var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                bounds.extend(position);
                marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: markers[i][0]
                });

                // Allow each marker to have an info window    
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infoWindow.setContent(infoWindowContent[i][0]);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));

                // Automatically center the map fitting all markers on the screen
                map.fitBounds(bounds);
            }

            // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
            var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
                this.setZoom(14);
                google.maps.event.removeListener(boundsListener);
            });

        }
    </script> -->

</body>

</html>