<html>
<title>abcd Magazine</title>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="npm/velocity-animate/velocity.js" type="text/javascript"></script>
    <script src="javascripts/diamond.js" type="text/javascript"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-105772369-1', 'auto');
        ga('send', 'pageview');
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style-flex.css">
    <link rel="shortcut icon" href="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <meta content="Fostering the Fringes" property="og:title">
    <meta content="How small venues shape Charlottesville’s music underground" property="og:description">
    <meta content="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/MusicVenueHeader2.jpg" property="og:image">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="Fostering the Fringes" name="twitter:title">
    <meta content="How small venues shape Charlottesville’s music underground" ame="twitter:description ">
    <meta content="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/MusicVenueHeader2.jpg" name="twitter:image:src ">
</head>

<body>

    <div class="secondary-promo ">
        <div class="share">
            <a href="http://www.cavalierdaily.com">
                <img class="navbar-image" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/CD_Circle.png">
            </a>
            <a href="https://twitter.com/share?url=http://www.abcdmag.com/fostering-the-fringess&text=How small venues shape Charlottesville’s music underground"
                target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/dialog/share?app_id=115484705817318&display=popup&href=http://www.abcdmag.com/fostering-the-fringes"
                target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </div>
        <a href="/">
            <img src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/abcd.png ">
        </a>
    </div>



    <div class="container-fluid ">
        <div id="musicVenuesPhoto" class="top-container row clearfix " style="justify-content: flex-start; align-items: flex-start; padding-bottom: 4%; padding-left: 2%;">
            <div class="col-md-5 top-flexboxitem" style=" color: white; padding:0; text-align: center">
                <div class="top-heading ">
                    Fostering the Fringes
                </div>
                <div class="top-subheading ">
                    How small venues shape Charlottesville’s music underground
                </div>
                <div class="top-byline ">
                    Words by Abby Clukey
                </div>
            </div>
        </div>

        <div class="photo-caption" style="padding-top:10px">
            <em>Photo courtesy of The Magnolia House</em>
        </div>


        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    A stand-alone, single-car garage facing a grassy hill. A wide-porched, tree-obscured house on the corner of a neighborhood
                    street. A red brick, neoclassical building in the heart of the Downtown Mall.
                </p>
                <p>
                    These unassuming structures blend into Charlottesville's landscape, but there's more to them than what meets the eye. To
                    people entrenched in the city's music scene, they symbolize community, passion and possibility. These are the places they go to discover something new and to share their own talent
                    with others.
                </p>
                <p>
                    In an increasingly competitive real estate market, the small music venue has the odds stacked against it. Because of the
                    difficulty of maintaining a steady source of revenue, these venues are constantly in flux. Those who
                    follow music attentively in this town can speak of this shifting quality. They recall the closings of
                    their favorite venues which were sold, bought and demolished, replaced by office spaces, hotels and convenience
                    stores.
                </p>
                <p>
                    But many Charlottesville musicians say that in any town, there's a need for spaces that cater to the fringes of the music
                    scene and promote diversity and inclusivity. No matter how hostile the economy becomes, fans and musicians
                    alike will always crave a place to start out — a place to encounter the music underground and maybe even
                    glimpse a flash of brilliance. A place to call home.
                </p>

            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text">
                <p>
                    When I initially walk through the doors of The Ante Room, I find it's animated with commotion — something you wouldn't expect
                    at a music venue in the middle of a weekday afternoon. However, this energy is different than anything
                    you would experience at a show. Instead of a reverberating bassline, the sounds of power drills and electric
                    saws echo throughout the room.
                </p>
                <p>
                    A crew diligently works on pulling up the bar. The cornerstone of the space — the stage — is next on their list, but for
                    the moment still stands intact as a reminder of room's purpose. Distinctive decorations, like the doors
                    painted to resemble black and white playing cards, emblematic of the venue's gambling theme, have been
                    taken off their hinges and lie propped up in a corner. The Ante Room is being painstakingly dismantled
                    piece by piece.
                </p>
                <p>
                    The venue was opened by Jeyon Falsini in 2012 under the name "The Main Street Annex," and has been an integral part of Charlottesville's
                    DIY music scene ever since, housing an eclectic assortment of bands and artists of varying genres and
                    levels of experience. Last year, The Ante Room was purchased by Taliaferro Junction, LLC, and Jaffray
                    Woodriff, with the plan to demolish the venue and its surroundings. The Ante Room closed its doors permanently
                    at the end of March, in preparation for the space's transition into a technology startup center this
                    summer.
                </p>
                <p>
                    Falsini greets me in the midst of the chaos. The blare of the ongoing construction is overwhelming, so we move our conversation
                    through a side door and into the adjacent Main Street Arena, the ice rink that is also slated for demolition
                    this summer. In the cold stillness, we discuss why he wanted to open a small music venue in the first
                    place.
                </p>
                <p>
                    "Well I've been booking bands and doing events for over 10 years," Falsini said. "So, before I was freelance and just working
                    out of my garage and booking shows in various places. I never really had my own room that I had the keys
                    to and that I could set up a sound system and stage. So when this idea presented itself to me, I realized
                    that I could finally book a lot of the things that I couldn't book in other places."
                </p>
                <p>
                    He tells me about his company, Magnus Music, which does booking for several venues in town — including The Whiskey Jar, Jefferson
                    Vineyards and Rapture. These venues cater to distinct genres of music, so Falsini distributes bands to
                    where they fit best based off of their repertoire.
                </p>
                <p>
                    Falsini opened The Ante Room so he could book groups that didn't fit neatly into genres, or were too offbeat to play other
                    Charlottesville venues. His space could be a haven for overlooked artists.
                </p>
                <p>
                    Over the past six years, The Ante Room has become a hub for Charlottesville's hip hop and metal scenes, two genres that are
                    not given a lot of exposure in the town's dominant music venues. Falsini believes that one of the duties
                    of the small music venue is to allow niche groups a space to play and attract a greater following.
                </p>
                <p>
                    "I think it's important because you would hope that there's always fans of that music out there, that are looking for it,"
                    Falsini said. "And, you know, maybe that's what music does, that it brings people together."
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Falsini's reasons for opening The Ante Room echo the sentiments of other small venue owners in Charlottesville. I talked
                    with Sam Bush, a 2009 University graduate who started The Garage, about his own business over coffee.
                </p>
                <p>
                    The Garage is aptly named. It's a single-car garage owned by Christ Episcopal Church, right in Charlottesville's downtown.
                    The space takes the small venue concept to the next level. It provides just enough room for a band and
                    their equipment, and concert-goers watch the show from the hillside across the street. Bush said the
                    effect is one that is totally unique and totally mesmerizing.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-7 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Garage3.JPG" style="width: 100%; ">
                <div class="inline-photo-caption">
                    The Garage is right across the street from Emancipation Park, and its central location allows passers-by to stumble upon
                    shows on their way to the Downtown Mall. (Photo courtesy by Christina Anton)
                </div>
            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    &ldquo;It's amazing to have that situation, we've got cars driving by between the band and the audience, and it just brings
                    a really unique experience to it, to a concert that kinda deals with the element of surprise," Bush said.
                    "A lot of people who end up going to the shows didn't plan on going, they're heading downtown to grab
                    a drink with a friend, when they hear this amazing string band from New Orleans or this incredible voice
                    and they stop."
                </p>
                <p>
                    Bush told me he helped found The Garage when he was a third-year on a whim, with the vague idea that he could create an intimate
                    venue that facilitated an engaging concert experience. He just felt like the space was meant to be. Bush
                    and his band at the time christened the space with its first show, and their business has only grown
                    from there. He gets about 20 emails a week from bands across the country who want to play The Garage.
                </p>
                <p>
                    "Whatever reason we started The Garage is kind of beyond me," Bush said. "We just kind of did. And then it took a life of
                    its own."
                </p>
                <p>
                    The allure of the small venue to musicians, Bush said, is not the possibility of monetary compensation. He tells me how he
                    passes around a jar each night and the band gets to keep its contents — usually only about a hundred
                    dollars or so. What really attracts artists is the experience itself. To many people, there's nothing
                    else like it.
                </p>
                <p>
                    "Bands really… do it because despite being in a public place, it's a very attentive crowd, which I think bands would prefer
                    over anything," Bush said. "Instead of playing a bar where nobody's listening, they'd rather play to
                    a small group of people who are really engaged, who are coming because they want to be there."
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-5 col-md-offset-3 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Garage1.JPG" style="width: 100%;">
                <div class="inline-photo-caption">
                    Sam Bush founded The Garage during his third year at the University, and has since transformed the unassuming space into
                    a uniquely intimate venue. (Photo courtesy by Christina Anton)
                </div>
            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Another Charlottesville musician, Sam Roberts from Magnolia House, has long-running ties to small music venues. As we sit
                    on Magnolia's front porch, he tells me how he started coming to the house's shows in high school, and
                    they exposed him to Charlottesville's music underground. He's been living and working here for almost
                    a year now, booking about four to five shows a month.
                </p>
                <p>
                    "I think it's a good place for certain bands to come play," Roberts said. "I don't think there's venues for certain genres
                    that people want to see. But there's people coming to shows here — as long as people are coming out I
                    think that it's worth doing."
                </p>
                <p>
                    House shows have a significantly different feel than concerts put on by other music venues. They're on a much smaller and
                    more intimate scale — a band plays on a stage set up in the living room of someone's home. The people
                    who populate these shows usually hear about through word of mouth, and are there primarily to support
                    underground artists.
                </p>
                <p>
                    For many house venues, there's no real business model or commercial interest. Roberts and his housemates pay the rent just
                    to live at Magnolia — they aren't concerned with making a profit from their shows. Because money is not
                    a factor in Magnolia House's production, Roberts and the other residents book whatever acts they want
                    to see perform — something he believes wouldn't be possible anywhere else.
                </p>
                <p>
                    "I've thought about possibly booking shows for a venue in my life professionally," Roberts said. "I know that's something
                    you can do and I've kind of acquired the skills to do that through booking here, but I don't know if
                    that would be very fun. It's fun to just put on shows that I want to see and that I think people who
                    come here will want to see."
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text">
            </div>
        </div>


        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/Magnolia1.jpg" style="width: 100%; ">
                <div class="row">
                    <div class="col-md-2 inline-photo-caption">
                        Magnolia House puts on intimate shows that highlight emerging or overlooked acts and attract people invested in Charlottesville’s
                        music underground. (Photo Courtesy of The Magnolia House)
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    One aspect of the small music venue is its accessibility for musicians trying to launch their careers. It can be difficult
                    to find places to play during a band's early stages, but small venues often allow new acts an opportunity
                    to perform even if they're not well established in town.
                </p>
                <p>
                    "When you're first starting out, there's this Catch-22 of well, a venue's not gonna hire you, a venue's not gonna let you
                    play unless you have a reputation," Bush said. "But you're not going to establish a reputation unless
                    someone lets you play."
                </p>
                <p>
                    Current student musicians affirmed the struggle of making a name in Charlottesville's music scene. Fourth-year College student
                    Maria DeHart said that the lack of small venues in town complicates finding places to play before becoming
                    well-established, especially if a band's music is unconventional.
                </p>
                <p>
                    "There's not a big house-show culture, so there's not a lot of options in terms of that," DeHart said. "The venues in town
                    mostly cater to not really DIY bands, more to bands that have a manager and stuff like that."
                </p>
                <p>
                    Third-year College student Grant Frazier said that the pressure for venues to book lucrative acts often makes them less inclined
                    to let new musicians play, which is why starting out at small venues is important.
                </p>
                <p>
                    "In terms of trying to get your own show, it's really hard," Frazier said. "It's a grind to try and get your name out there,
                    to gain some notoriety. To have a business say yes, you can come play here. Because there's two sides
                    to it, both parties have to benefit in terms of making money, because at the end of the day it's really
                    about, from the business side, how can they benefit from you playing here?"
                </p>
                <p>
                    Part of Falsini's mission in running The Ante Room was to give new artists a chance. He would often let emerging acts play
                    the room and even if the show wasn't profitable, he would help the artist or band find another space
                    to perfect their sound.
                </p>
                <p>
                    "We like to tell bands, 'Hey maybe that show didn't work out with us, but why don't you get in touch with Magnolia House
                    or a house place' … there's other spots," Falsini said. "You can kind of help the band. You definitely
                    don't want them to stop what they're doing, you're just trying to get them exactly where they need to
                    be so that they can grow to the next level and then you can see them again."
                </p>
                <p>
                    Bush also spoke to the lack of venues that foster new music, and said that spaces like The Ante Room are necessary to cultivate
                    the creativity in the Charlottesville community.
                </p>
                <p>
                    "The Ante Room closing is of course discouraging for the community, because that's a place that features established bands
                    but is also one of the few places that you can get your foot in the door as an emerging artist," Bush
                    said. "And communities need that in order to grow. You need to have those places that facilitate emerging
                    artists in order for them to establish themselves. Otherwise, we're only depending on bands that come
                    from out of town and play and they leave."
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Many musicians agree that hip hop is one genre in particular that is overwhelmingly overlooked in Charlottesville's music
                    scene. They say The Ante Room was one of the few venues that consistently featured hip hop artists, which
                    makes its closing all the more disheartening.
                </p>
                <p>
                    "This town is kinda run by like, Red Light and Dave Matthews, which is not really conducive to underground stuff," DeHart
                    said. "The Ante Room was really the only place in town that catered to hip hop specifically — that's
                    probably the shittiest thing about it closing."
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/AnteRoom2.jpg" style="width: 100%; ">
                <div class="inline-photo-caption">
                    The Ante Room has featured a wide variety of acts on its stage, catering especially to artists and bands from underground
                    genres such as hip hop. (Photo courtesy of The Ante Room)
                </div>
            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Local hip hop artist Cullen Patrick Wade said that the City has historically been a somewhat hostile environment for underground
                    genres, despite its widely-perceived creative and music-friendly image. He told me this environment largely
                    stems from the lack of small, accessible venues in town, which are vital to fostering the kind of music
                    he plays.
                </p>
                <p>
                    "Charlottesville has a reputation for a vibrant, thriving music scene, and it's funny when people come here expecting that,
                    and when they're playing in one of the more underground genres, you only have like two places to play
                    here," Wade said. "They're a little disappointed when they find out how limited we are in terms of small
                    venues."
                </p>
                <p>
                    For some Charlottesville musicians, The Ante Room represented more than just a venue — it gave them the opportunity to be
                    heard. Hip hop artist Quin Booker cherished his opportunity to play The Ante Room, saying it helped him
                    elevate his career and allowed him to share his words with the community.
                </p>
                <p>
                    "It's actually the only spot in town that really lets people perform, hip hop wise … really the main one that gave rap artists
                    and hip hop artists a place to own, a place to speak," Booker said.
                </p>
                <p>
                    Reagan Eadie, a Charlottesville hip hop and R&B artist, said that though there aren't many venues that cater to hip hop,
                    there is still a large scene thriving under the surface. She thinks that there is more to be done to
                    make this community more cohesive, and that supporting other hip hop artists is crucial to developing
                    the scene further.
                </p>
                <p>
                    "I think showing up to your fellow artist's show is important," Eadie said. "That's part of what makes Charlottesville special
                    ... to be there for people that you don't even necessarily know but the fact that you're trying to do
                    kind of the same thing is important."
                </p>
                <p>
                    Wade professed a similar desire to promote solidarity within the hip hop community — something he thinks can be achieved
                    if there were more spaces like The Ante Room for artists to come together and perform.
                </p>
                <p>
                    "One of the big things we're trying to do with that is foster some scene unity," Wade said. "There's a lot of people doing
                    different things … we don't really have a space — a physical space … or anything like that in which we
                    can all collaborate."
                </p>
                <p>
                    As the hip hop scene has grown in Charlottesville over the last several years, a few venues that have refrained from featuring
                    the genre in the past have slowly begun to lift what Wade calls "the unofficial hip hop embargo." Wade
                    hopes that even with The Ante Room's closing, hip hop will continue to gain momentum and move in the
                    right direction.
                </p>
                <p>
                    The small venue owners I spoke with emphasized their commitment to foster hip hop in new and creative ways, conscious of
                    the effect that The Ante Room's absence will have on the community. Roberts said that he's looking to
                    book even more hip hop shows at Magnolia in the future, and Bush told me how he's been trying to incorporate
                    more unconventional genres at The Garage, even though their location and lack of license have restricted
                    the types of acts they could book in the past.
                </p>
                <p>
                    "We've been limited to folk bands because they're quieter, but we've been reaching out in the past couple of months to some
                    hip-hop artists," Bush said. "We just want to branch out. I think an ideal situation would be to pair
                    bluegrass with hip-hop, or a folk band with a rapper, and to have very different sounds together in one
                    night I think is very unique. I don't think a lot of venues do that. We're not like a lot of venues already,
                    so we might as well have fun diversifying our lineup."
                </p>
                <p>
                    There doesn't seem to be a definitive solution to the issue of accessibility for artists of underground genres. However,
                    some believe that venues will start to take them seriously if they continue to prove that hip hop is
                    just as legitimate and profitable as any other scene in Charlottesville's music landscape. They want
                    to demonstrate to venue owners that hip hop is a force to be reckoned with.
                </p>
                <p>
                    "Artists have gotta do our jobs to let the people know that we're serious, and that we ain't on no BS," Booker said. "We
                    can help them make money as well as they can help us gain fans. Like a hundred people listen to us and
                    you only have a max of 25 people at your bar — you do the math."
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Perhaps one of the biggest challenges of maintaining a small music venue stems from the financial realm. Falsini said it
                    is difficult to keep up with the costs when the venue's revenue isn't particularly steady.
                </p>
                <p>
                    "Running a music venue is definitely a labor of love," Falsini said. "And it's also … very expensive, and you've got a lot
                    of variables. Your rent gets higher and higher every year as you go, a lot of times if your programming
                    is such that your shows aren't making you money, then you may go out of business."
                </p>
                <p>
                    Other small venues in Charlottesville do not have the same limitations as The Ante Room. Like Magnolia House, The Garage
                    does not rely on a profit to stay open. The space is owned and funded by Christ Church — a benefit which
                    gives Bush the ability to book acts and put on shows without worrying about major financial repercussions.
                </p>
                <p>
                    "We're at an advantage compared to other venues that have to worry about how they're going to keep the lights on," Bush said.
                </p>
                <p>
                    Falsini said that a possible remedy to this problem of financial sustainability would be for cities to give grants to music
                    venues, in the similar way to how Charlottesville funded the restoration of the Paramount Theater in
                    1992. If the threat of being priced out of a space is taken off the table, Falsini believes that music
                    venues can focus instead on promoting original art.
                </p>
                <p>
                    "If grants were available to perhaps buy buildings for venues or help supplement a building's rent, then perhaps venues would
                    last longer, and in that case, the music scene could continue unabated and not have these sort of ebbs
                    and flows," Falsini said. "Because, it's very important for venues to exist in order for scenes to thrive,
                    and then ultimately create potentially famous musicians that increase tourism dollars and put cities
                    on maps."
                </p>
                <p>
                    Because Charlottesville is a growing city, Falsini said that many venues hesitate to feature musicians from obscure genres
                    because there isn't always enough interest to cultivate a profitable show. Niche genres can flourish
                    easier in bigger cities where fans of a particular genre are more densely populated. Falsini and the
                    other venue owners agree that unfortunately, a venue cannot support itself if there aren't enough people
                    to fill the doors.
                </p>
                <p>
                    "That's just the tragedy of the small music venue in a college town," Bush said. "There's something that's unsustainable
                    about it."
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Over the past couple of decades, Charlottesville's small venues have followed an irregular pattern of openings and closings
                    — The Ante Room's is one in a string of many. Both Bush and Roberts reminisced on venues long gone such
                    as the Satellite Ballroom located on the Corner, which Bush described as "a punch in the gut" when it
                    was turned into a CVS during his time as a University student.
                </p>
                <p>
                    "We would go there twice a week and we would see incredible bands who would be famous two weeks later," Bush said. "I just
                    have so many memories of that place and it was so crushing when it closed."
                </p>
                <p>
                    However, Bush is hopeful that another small venue will rise up to fill the gap left in The Ante Room's absence. He said there's
                    always going to be a need for inclusive venues in a college town, and he thinks Falsini's passion will
                    allow him to keep working to fulfill this demand.
                </p>
                <p>
                    "Jeyon is a huge influencer in this town," Bush said. "I hope he feels encouraged to keep doing what he does. If not at The
                    Ante Room, then somewhere else."
                </p>
                <p>
                    Falsini told me he is trying to do just that. He has been visiting different properties since the room closed and is looking
                    for different opportunities to re-establish the business, even if that means compartmentalizing for the
                    time being.
                </p>
                <p>
                    "Right now, it's looking like we may split up the different aspects of our business," Falsini said. "We're talking to IX
                    Art Park about helping them develop a bar, so that would be something we would help them with, and also
                    perhaps help them fill their calendar … Once we get back into a space, we'll just check our emails and
                    get back to people and we'll hopefully be putting bills together once again."
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/AnteRoom1.jpg" style="width: 100%; ">
                <div class="inline-photo-caption">
                    The Ante Room is being stripped of its distinguishing touches as the space undergoes preparation for its impending demolition. (Photo courtesy of The Ante Room)
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Ultimately, many Charlottesville musicians and venue owners believe that despite its instability, the small music venue is
                    essential for a whole host of reasons — opportunity, visibility and authenticity. To them, these venues
                    have a distinctive quality that draws people in and brings them together, making the spaces too important
                    to overlook.
                </p>
                <p>
                    "The small venue is always scraping by — maybe that's what makes it magical," Bush said. "I don't think you would agree if
                    you were the owner of a small venue — there's nothing magical about that. But in the broader sense, there's
                    something special about the small music venue. It caters to the losers. It caters to the nobodies, and
                    you need to be able to allow the nobodies a place to play so that they can become somebodies."
                </p>
            </div>
        </div>
    </div>
</body>

</html>