<html>
<title>abcd Magazine</title>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="npm/velocity-animate/velocity.js" type="text/javascript"></script>
    <script src="javascripts/diamond.js" type="text/javascript"></script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-105772369-1', 'auto');
        ga('send', 'pageview');
    </script>
    <style>
        /* Ensure elements are hidden while ScrollEntrance is loading */
        
        [data-entrance] {
            visibility: hidden;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/bookstore.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="shortcut icon" href="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <meta content="Redefining Roots" property="og:title">
    <meta content="What it Looks like to Start a Second Life in Charlottesville" property="og:description">
    <meta content="https://s3.amazonaws.com/snwceomedia/cav/3ac82fb4-0be6-44e6-acd9-50182f3270c1.original.JPG" property="og:image">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="Redefining Roots" name="twitter:title">
    <meta content="What it Looks like to Start a Second Life in Charlottesville" ame="twitter:description ">
    <meta content="https://s3.amazonaws.com/snwceomedia/cav/3ac82fb4-0be6-44e6-acd9-50182f3270c1.original.JPG" name="twitter:image:src ">
</head>

<body>
    <div class="secondary-promo">
        <div class="share">
            <a href="http://www.cavalierdaily.com">
                <img class="navbar-image" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/CD_Circle.png">
            </a>
            <a href="https://twitter.com/share?url=http://www.abcdmag.com/city-of-stories&text=Bookstores of Charlottesville and their untold histories." target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/dialog/share?app_id=115484705817318&display=popup&href=http://www.abcdmag.com/city-of-stories" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </div>
        <a href="/">
            <img src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/abcd.png ">
        </a>
    </div>
    <div class="container-fluid ">
        <div class="row clearfix" style="max-height: 100vh">
            <div class="col-md-6" style="padding: 0; height: 100%;margin-left: -3px; background-color: black;">
                <img class="title-image" src="https://s3.amazonaws.com/snwceomedia/cav/aa478077-5a50-48e3-809d-5fc84d04cee9.original.png">
            </div>
            <div class="col-md-6 hidden-sm hidden-xs refugee-header-container">
                <div class="refugee-header">
                    What it looks like to start a second life in Charlottesville
                </div>
                <div class="refugee-byline">
                    Words by Abby Clukey
                </div>
            </div>
        </div>
    </div>
    <div class="photo-caption"><em>Mohammad Mottaghi, Photo by Abby Clukey, Graphic by Leo Dominguez</em></div>

    <div class="container-fluid ">
        <div class="row">
            <div class=" col-xs-offset-1">
                <div class="bookstore-sub hidden-lg hidden-xl" style="padding-top:10px">
                    What it looks like to start a second life in Charlottesville
                </div>
                <div class="bookstore-byline hidden-lg hidden-xl" style="padding-top:20px">
                    Words by Abby Clukey
                </div>
            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">

                <p>A security guard intently studies a scribbled-on napkin pulled from his pocket on the bus headed home. Across town, a custodian clocks into work and prepares to clean the floors of a medical school much like one he had dreamed of attending
                    since childhood. At her kitchen table, a single mother balances a wistful pride as her son tells her the new English phrase he learned at school that day &mdash; one that she has never heard. </p>

                <p>The lives of Charlottesville&rsquo;s immigrants and refugees are unique. Different circumstances led them to pursue lives in this city. Some were forced to leave their homes to escape the imminent threats of genocide and war. Others made
                    the decision for themselves in order to seek more abundant opportunities for their families. Because they could sense that their futures were precipitous. Because they knew that if they didn&rsquo;t leave when the option presented
                    itself, they might never get the chance. </p>

                <p>Instances of sacrifice are threaded throughout their narratives. They have given up jobs and degrees, the intimate knowledge of their own country&rsquo;s culture, the natural command of a native language &mdash; the familiar privileges
                    and comforts that come with living in the same place your entire life. They have left behind everything they have ever known to build new lives from the ground up and reconstruct a sense of belonging in Charlottesville.</p>

                <p>These are just a handful of their stories. </p>
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header">
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">

                <p>Mohammad Mottaghi is an Iranian immigrant of Turkmen heritage. He was once a professor, consultant and conservator of ancient Islamic art. Now, he is an Aramark employee and a security guard at the Fralin museum. </p>

                <p>&ldquo;&ldquo;When I came to Charlottesville, I had to start at zero,&rdquo; Mohammad said.</p>

                <p>The Mottaghi family &mdash; Mohammad, his wife and their then-teenage son &mdash; moved to Charlottesville in 2012 from Isfahan, an Iranian city steeped in a legacy of such historical and artistic grandeur that it boasts the motto, Isfahan
                    nesfe Jahan. &ldquo;Isfahan is half of the world.&rdquo; </p>

                <p>It was in Isfahan that Mohammad, now 58, reached the height of his career. In addition to holding a bachelor&rsquo;s and a master&rsquo;s degree in art conservation from Pardis College, he has multiple certificates from UNESCO to maintain
                    world heritage sites. In 2008, the Iranian government hired Mottaghi to oversee restorations of the city&rsquo;s Historical Bazaar, an ancient marketplace and plaza. </p>

                <p>Mohammad said he enjoyed the work that he did at the heritage site, but was also aware that Isfahan, like the rest of the country, was becoming increasingly unstable. Aside from periods of political unrest, a population that has more than
                    doubled itself in the past 30 years has led to a congested job market, increased pollution and the rationing of resources. </p>

                <p>&ldquo;In Iran, everything was collapsing,&rdquo; Mohammad said. &ldquo;The economy &mdash; there were so many jobless. The air was polluted. We had no water. The climate was changing.&rdquo;</p>

                <p>Mohammad knew that he had to find a way to move to the United States, for the sake of his family. </p>

                <p>He began applying for an immigrant visa through the Diversity Immigrant Visa Program, commonly known as the green card lottery, in 2001, and would repeat the process nearly every year over the next decade. In 2012, he finally won. </p>

                <p>Mohammad described the atmosphere of confusion that enveloped his family as they prepared to leave Iran. They only had a few months to get their affairs in order. They boxed up their possessions and stored them in attics of neighbors and
                    friends. They sold whatever wasn&rsquo;t necessary, including Mohammad&rsquo;s carefully cultivated personal library.</p>

                <p>They also had to determine where exactly they wanted to live. His son scoured the internet for Turkmen names in the United States and found two Turkmen families in Charlottesville. One was a family of refugees, and the other were the first
                    Iranian Turkmen green card winners to move to the city. The Mottaghis decided they would be the second. </p>

                <p>Mohammad&rsquo;s favorite job that he&rsquo;s ever had &mdash; what he loved even more than working at the heritage site &mdash; was teaching art conservation. He worked at several Iranian universities throughout his career, and his primary
                    passion has always been encouraging the younger generation. </p>

                <p>He says that he embodies the character of &ldquo;the professor.&rdquo; Teaching is how he defines himself. Which is why, when Mohammad moved to the United States, he wasn&rsquo;t just leaving half of the world behind. He was leaving behind
                    a piece of his identity. </p>

                <p>&ldquo;When I came here, I said now I can&rsquo;t teach &mdash; I can&rsquo;t work as a conservator, a professor,&rdquo; Mohammad said. &ldquo;When I came here, I said, I so miss it. My heart is depressed. During the first six months,
                    I wanted to cry. But I controlled myself, breathing deep. Breathing, breathing.&rdquo;</p>

                <p>Many workplaces in the U.S. do not honor foreign degrees &mdash; it depends on the nature of the degree and where it was received. A lack of English proficiency will often force immigrants and refugees to start at the bottom rung of the
                    educational ladder when they come to the United States, even if they had extensive, high-level careers in their home countries. The stipulations of their green cards also require them to find work quickly, which limits the range of
                    their employment opportunities upon arrival. </p>

                <p>Harriet Kuhr, director of the International Rescue Center in Charlottesville, said that one of the main challenges that educated individuals face in the resettlement process is the transition to low-level jobs. </p>

                <p>&ldquo;What&rsquo;s hard is, if you&rsquo;re an engineer and bringing this resume, you might have been doing it for 20 years in Baghdad or something, but you&rsquo;re going to be competing for that same job with American candidates,&rdquo;
                    Kuhr said. &ldquo;Sometimes it&rsquo;s a lot harder for people from professional backgrounds than it is for people with not a lot of education because of the expectations. I think that&rsquo;s really frustrating.&rdquo;</p>

                <p>Mohammad&rsquo;s first job in Charlottesville was at the Royal Indian Restaurant. He said that he missed working in a collegiate atmosphere during this time, and being completely severed from his past career made his transition to life
                    in the U.S. even more difficult. </p>

                <p>After about a month, he applied for a job at U.Va. as an Observatory Hill dining hall employee. He thought that working at O&rsquo;Hill would be the most effective way to get as close as he can to what he loves &mdash; interacting with
                    students.
                </p>

                <p>In his initial interview with Aramark, Mohammad joked, &ldquo;In Iran, I teach the brain. Here, I want to teach the stomach.&rdquo; He says that the students he meets at work often teach him right back. He asks them to write English phrases
                    on napkins that he will take home after his shift and copy down into a notebook. Their energy revitalizes him. </p>

                <p>Even though he enjoyed his job at O&rsquo;Hill and was excited to be surrounded by students again, Mohammad still wanted more. In 2017, Mohammad told his friend who had connections at the Fralin that he wanted to work at Arts Grounds,
                    and found out that a part-time security guard position was open. He saw this opportunity as a foot through the door into what he has always loved. He told the manager of the Fralin that working at the museum, even as a security guard,
                    would be like being &ldquo;born again.&rdquo; He got the job soon after.</p>

                <p>Mohammad sees his job at the Fralin as a college course. Walking through the doors of the museum is like going to school. The art communicates with him, and working alongside it renews his desire to further his education in Charlottesville.
                </p>

                <p>A degree at an American university is Mohammad&rsquo;s goal at the moment. However, before he can reach it, he has to prove a certain level of English proficiency measured by a standardized assessment called the TOEFL test. He has taken
                    and retaken numerous ESL classes so far, and hopes to achieve the required proficiency and get back to a university by his 70th birthday. That gives him about 12 years to continue to work toward this dream. </p>

                <p>Even though he isn&rsquo;t exactly where he wants to be career-wise at the moment, Mohammad has never doubted his decision to move to the U.S. He sees the benefits of his choice when he looks at his son, who recently graduated from the
                    University and now works as an engineer in Washington, D.C., or when he thinks about the friends he has made or the enriching experiences he and his family have had here. </p>

                <p>When he first announced he was moving, Mohammad&rsquo;s friend told him he was crazy. He had a coveted job and his life was better than most in Iran. Who could know what would happen in America? He would be gambling everything he had ever
                    built.
                </p>

                <p>&ldquo;Maybe,&rdquo; Mohammad had replied. &ldquo;Or maybe my action could be my gambit.&rdquo; </p>

                <p>He&rsquo;s thankful that he took the risk.</p>

                <p>When Khadija Hemmati left Afghanistan in 2016, she brought her five children and her ex-husband with her. Her mother, her sister and her sister&rsquo;s family had been living in Charlottesville for several years and had told her great
                    things about their new home. Khadija applied for a green card online, packed up her belongings and moved her family to Virginia.</p>

                <p>Life in Afghanistan was difficult, especially for women, due to issues like illiteracy, a lack of employment options, child marriage and gender-based violence. Khadija, 34, had grown up in Iran with educated parents, which gave her more
                    opportunities than many of the women she knew. Khadija studied computer science in Iran, but was not able to pursue further education or a career when she moved to Afghanistan. </p>

                <p>The possibility of independence and security &mdash; for both herself and her children &mdash; is what spurred Khadija to leave Afghanistan. </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-8 col-md-offset-2 ">
                <img class="inline-photo" src="https://s3.amazonaws.com/snwceomedia/cav/389b8031-37f7-488b-a485-f1ca01cf1c19.original.jpg" style="width: 100%">
                <div class="inline-photo-caption">
                    Khadija Hemmati seated in Observatory Hill Dining Hall; Photo by Abby Clukey
                </div>
            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>&ldquo;I came to the U.S. because here you can find peace, you can have freedom, you can have a job, and a good education, especially for women,&rdquo; Khadija said. </p>

                <p>Once the family resettled themselves in Charlottesville, Khadija&rsquo;s sister helped her find a job at O&rsquo;Hill Dining Hall. </p>

                <p>Khadija says that she is grateful to have found employment so quickly, but she does not want to work at O&rsquo;Hill forever. She is currently studying for her GED and has plans to go back to school. She hopes to pair her knowledge of
                    computers with medicine or nursing.</p>

                <p>In the meantime, however, Khadija is focusing on raising her five children on her own and helping them adjust to life in America. She says her kids have rapidly picked up English and have adjusted to American culture. They have acclimated
                    so well in fact, that Khadija sometimes feels like she is struggling to keep up. </p>

                <p>&ldquo;Every day is a challenge for me, every day,&rdquo; Khadija said. &ldquo;I have to ask my children about everything. I say what do they mean, if a paper comes from school, and they have to tell me. It&rsquo;s just very hard.&rdquo;</p>

                <p>Kuhr affirmed that many parents face this issue in the resettlement process. They want their children to feel like they belong in this unfamiliar country, but often know that it may not be possible to truly do so themselves.</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-8 col-md-offset-2 ">
                <img class="inline-photo" src="https://s3.amazonaws.com/snwceomedia/cav/3ac82fb4-0be6-44e6-acd9-50182f3270c1.original.JPG" style="width: 100%">
                <div class="inline-photo-caption">
                    Khadija Hemmati and her children; photo courtesy of Khadija Hemmati
                </div>
            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>&ldquo;It can be really hard, seeing your children, especially younger kids in school,&rdquo; Kuhr said. &ldquo;A lot of times your kids adapt very quickly, you&rsquo;re watching your kids kind of become bicultural.&rdquo;</p>

                <p>ESL classes have helped Khadija slowly learn the language, and she has made great strides over the past two years. Still, she says that the language barrier has been the main roadblock in making Charlottesville truly feel like her home.
                </p>

                <p>&ldquo;One of my dreams is that one day, I will just wake up and be able to speak very good, clear English,&rdquo; she continued. </p>

                <p>She knows that it isn&rsquo;t something that will happen overnight. </p>

                <p>But she&rsquo;s determined to get to that level. </p>

                <p>Bushiri Salumu had always wanted to study medicine. He was born in North Kivu in the Democratic Republic of the Congo, to highly educated parents. His mother was a chemistry teacher and his father was a doctor. It seemed only natural that
                    Bushiri would follow in their footsteps and pursue a career in science. </p>

                <p>That is, until his entire world came crashing to a halt when he was 17. </p>

                <p>In August 2007, Bushiri&rsquo;s parents and most of his siblings were killed by an explosion from a battle between the Congolese military and a militia group that had drifted too close to their home. Bushiri and his younger brother and
                    sister were the only survivors.</p>

                <p>The years that ensued were something out of a nightmare. Suddenly thrust into homelessness, Bushiri and his siblings were captured by a militia group, became separated, and eventually &mdash; miraculously &mdash; escaped. They then embarked
                    on a thousand-mile journey to a refugee camp in Zambia. The three of them would remain in that camp, technically safe but without adequate food or amenities &mdash; for four and a half years. </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-8 col-md-offset-2 ">
                <img class="inline-photo" src="https://s3.amazonaws.com/snwceomedia/cav/2331d431-4f79-4297-8fbc-679a347d73d5.original.jpg" style="width: 100%">
                <div class="inline-photo-caption">
                    Bushiri at work in Pinn Hall; Photo courtesy of Abby Clukey
                </div>
            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>Bushiri and his siblings were directly relocated to Charlottesville in 2012. The IRC helped them resettle in the city, setting them up in their first home and finding them their first jobs.</p>

                <p>Bushiri worked at a number of places before before his current position as a custodian at the University&rsquo;s facilities management department, including a carwash, a nursing home and Runk dining hall. Now, he works night shifts cleaning
                    specific buildings on Grounds &mdash; usually the National Radio Observatory and the medical school&rsquo;s Pinn Hall. </p>

                <p>During the day, Bushiri takes GED classes and plans for his future. The life he had once imagined for himself might not be possible anymore, but he is intent on getting as close as he can to it. </p>

                <p>&ldquo;My plan when I was a kid was to finish high school and go to college to study medicine,&rdquo; said Bushiri. &ldquo;So when we lost our parents, it was hard. Now, you know, I&rsquo;m 28 years old. I&rsquo;m older than a med student,
                    and medical school is expensive. Now, my plan is to go to nursing school.&rdquo; </p>

                <p>Bushiri&rsquo;s teachers &mdash; or his &ldquo;tutors,&rdquo; as he calls them &mdash; have been integral in getting him to where he is now, and on the path to where he wants to be. He has been taking classes at the Adult Learning Center
                    on the Downtown Mall for years, ranging from ESL to computer skills to the University-sponsored facilities management program that got him his current job. </p>

                <p>Carol Coffey, program coordinator at the Adult Learning Center, said that &ldquo;core skills&rdquo; like the ones that Bushiri has been learning are crucial to elevating immigrants, refugees and others in the Charlottesville community
                    to the jobs and lives that they want. </p>

                <p>&ldquo;Learning takes commitment and work, but if you&rsquo;re willing to do that, we can help you get what you need to take that next step, wherever you are on that ladder and whatever direction you want to go,&rdquo; Coffey said. &ldquo;And
                    our goal is, once again, we want our friends and neighbors to have access to sustainable living jobs. We know they&rsquo;ve got to get to that 15 dollar per hour, 18 dollar per hour place, or they&rsquo;re not going to survive.&rdquo;</p>

                <p>To the members of the ALC staff, education is not only about sustainability &mdash; it also fosters personal growth. Every year, there is an essay contest for the students to submit a personal narrative, a selection of which is compiled
                    in a publication entitled, Voices of Adult Learners. </p>

                <p>ESL instructor Chip King has all of his students write an essay. He insists that everyone has a story, even if they can&rsquo;t think of one at first. &ldquo;It&rsquo;s like that Blake poem, &lsquo;To see the world in a grain of sand,&rsquo;&rdquo;
                    he said. The most powerful stories don&rsquo;t always have to recount earth-shattering moments &mdash; they can sprout from seemingly minor details.</p>

                <p>Bushiri&rsquo;s own essay was chosen to be published in this anthology. He wrote about hearing the news of the Unite the Right rally in August of 2017 &mdash; the white supremacist protest that claimed the life of counter-protester Heather
                    Heyer &mdash; while he was at a post office in Tennessee. He said that he was deeply upset by the evil surfacing in the place he had just begun to call home, and it was the only time he has ever felt unwelcome or afraid in the six
                    years he has lived in the U.S.
                </p>

                <p>But Bushiri has looked evil in the face before. He said that the events of last summer have not permanently altered his perception of Charlottesville. Instead, he tries to focus on the good he has encountered here.</p>

                <p>&ldquo;In every country there are the good people and the bad people,&rdquo; said Bushiri. &ldquo;But here I have made so many friends, met so many people who helped me.&rdquo; </p>

                <p>This mentality is what has allowed Bushiri to rebuild a life in a strange city after losing almost everything and suspending his own dreams for so long. It&rsquo;s what led him to officially apply for U.S. citizenship last August not long
                    after the day that a postal worker asked him &mdash; upon hearing that Bushiri was living in the city on the news &mdash; if he was going to go back.</p>

                <p>&ldquo;Yes,&rdquo; Bushiri had told him. &ldquo;Charlottesville is my home.&rdquo; </p>
            </div>
        </div>
    </div>
</body>

</html>