<html>
<title>abcd Magazine</title>

<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="npm/velocity-animate/velocity.js" type="text/javascript"></script>
<script src="javascripts/diamond.js" type="text/javascript"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-105772369-1', 'auto');
    ga('send', 'pageview');
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="stylesheets/rugbystyles.css">
<link rel="shortcut icon" href="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/icon.png" type="image/x-icon">
<meta name="viewport" content="width=device-width" />
<meta content="Reemerging from Rehab" property="og:title">
<meta content="One student's all-too-familiar struggle for sobriety" property="og:description">
<meta content="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/february18/rugby.png" property="og:image">
<meta content="summary_large_image" name="twitter:card">
<meta content="Reemerging from Rehab" name="twitter:title">
<meta content="One student's all-too-familiar struggle for sobriety" ame="twitter:description ">
<meta content="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/february18/rugby.png" name="twitter:image:src ">
</head>

<body>

<div class="secondary-promo">
    <div class="share">
        <a href="http://www.cavalierdaily.com">
            <img class="navbar-image" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/CD_Circle.png">
        </a>
        <a href="https://twitter.com/share?url=http://www.abcdmag.com/reemerging-from-rehab&text=One student's all-too-familiar struggle for sobriety."
            target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=115484705817318&display=popup&href=http://www.abcdmag.com/reemerging-from-rehab"
            target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </div>
    <a href="/">
        <img src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/abcd.png ">
    </a>
</div>

<div class="container-fluid ">
    <div id="rugbygraphic1" class="top-container row clearfix" style=" justify-content: flex-end; align-items: flex-end; padding-bottom: 2%; padding-right: 2%;">
        <div class="flexboxitem" style=" color: white; padding: 0px;">
            <div class="top-sub top-meta-container" style="padding: 0px">
                <div class="top-heading ">
                    Reemerging from Rehab
                </div>
                <div class="top-subheading ">
                    One student’s all-too-familiar struggle for sobriety
                </div>
                <div class="top-byline ">
                    Words by Emily Caron
                </div>
                <div class="top-byline">
                    Visuals by Margaret Kim and Aisha Singh
                </div>
            </div>
        </div>

    </div>

    <div class="row ">
        <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5" style="padding-top:50px">
            <p></p>
            <p>
                <em>The names in this story have been changed to protect the sources' privacy.</em>
            </p>
        </div>
    </div>

    <div class="row ">
        <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
            <p>
                Meet John: a former boarding school valedictorian who graduated cum laude with a 4.0 GPA. He was president of his senior
                class, captain of both the soccer and crew teams and wanted to row at an Ivy League in college. When
                his plans to row fell through, he decided to study at the University of Virginia — a 'Public Ivy,' as
                they say. He was on top of it all: smart, social, successful and heading to a great school. Some would
                say he was the perfect student.
            </p>
            <p>
                Most students at the University can probably relate to at least part of John's high school history. Many students can probably
                also relate to parts of John's college experience or know someone who can — and that's the concerning
                part. His story goes something like this:
            </p>
            <p>
                John moved into dorms. He met lots of new people — mostly first-years, but some older. He went to Block Party and over-indulged.
                He liked it. He started going out even more, and soon he was partying pretty often.
            </p>
            <p>
                He ended up in the hospital within his first few weeks on Grounds with alcohol poisoning. One minute he was taking shots
                to celebrate a decent passing grade on a psych exam, the next he was staring at a stark white ceiling.
                Everything smelled sterile. His eyes needed time to adjust to the bright lights above. He didn't know
                where he was.
            </p>
            <p>
                His body was covered in blood and dirt — he could smell his own throw up. He must've fallen somewhere along the way. He must've
                puked, too.
            </p>
            <p>
                Strange faces were buzzing about, he saw nurses checking in on patients, doctors conversing with one another. He was in the
                hospital. But police officers were there too, all around him. Why? He turned to see his sister by his
                side, finally a familiar face.
            </p>
            <p>
                She explained everything.
            </p>
            <p>
                Friends had called an ambulance for John after a University police officer had found him passed out on the sidewalk outside
                of a fraternity house just off Rugby Road. That's how he had ended up here, on a stretcher in the hallway
                of the U.Va. Emergency Department.
            </p>
            <p>
                When he got to the hospital, he'd swung at the doctor, hence all the police officers. But he was too wasted to remember.
                He'd gone through the gamut of emotions — from angry and irritable to sad and emotional — but didn't
                recall any of it. It wasn't until other people told him about his night that he was able to piece it
                all together after a few days.
            </p>
            <p>
                "I went home for a week. My parents didn't know what to do with me — all these guys [at UVA were] telling me it happens to
                everyone and not to worry — but I was super embarrassed by it," John said. "So I took a few weeks off,
                and then football season started and I found myself drinking again at a tailgate."
            </p>
            <p>
                The hospital trip was scary for a second, but was soon forgotten. Alcohol poisoning might've deterred some, but not him —
                not here. His family was worried but his friends assured him he was fine. It's normal. Lots of people
                end up in the hospital, especially first year.
            </p>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header">
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    His drinking escalated as the semester went on. He knew his weekends were wild, and usually a little fuzzy, but they were
                    fun. That is, until Sunday morning hit.
                </p>
                <p>
                    "I started doing all these things that were so far against who I am, what I believe, and what I think is right — the whole
                    nine yards," John said. "I thought it was what 'fun' was or what I was supposed to be doing ... There
                    were a lot of blackout nights ... and a lot of Sunday-morning-can't-get-out-of-bed type days."
                </p>
                <p>
                    He was living for the weekend and just getting by during the week. Sundays sucked and classes were hard, but socializing
                    came easy so he kept going.
                </p>
                <p>
                    No one batted an eye when he would black out or wake up hungover as hell. Sometimes he'd wake up with a girl in his bed that
                    he didn't remember taking home. Dabbling in drugs? That didn't faze anyone, either. Cocaine wasn't
                    something to be worried about — but it all should have been.
                </p>
                <p>
                    "The truth is that, the first week [when] he ended up in the hospital unresponsive from alcohol poisoning, I knew he had
                    a problem," John's mother said. "The way that first semester went is just not normal, even though
                    it is to so many [students]."
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header">
        </div>
    </div>

    <div class="row ">
        <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
            <p>
                He pledged a fraternity in the spring, as many first-years do. Cocaine soon became John's drug of choice — there wasn't pressure
                to do it, per se, but its prevalence alone was enough. It was everywhere. And, the more cocaine John
                did, the less he drank. He'd wake up less hungover and usually with fewer regrets. It was a win-win.
            </p>
            <p>
                "When you think of drugs as a kid, [cocaine] is this big, scary, hardcore drug. It's not like smoking weed. But then you
                get to college and that's not the case anymore," John said. "I was so against it when I got to school
                […] but then I tried it once. And [when] I realized I wasn't going to blackout as much if I was doing
                coke, it was like an 'aha' moment."
            </p>
            <p>
                This cycle of drinking and drugging continued throughout the spring of his first year. By the end of the semester, he was
                back in the hospital. This time it was because of a fight he'd drunkenly gotten into at a bar that resulted
                in seven staples in his head.
            </p>
            <p>
                Summer was calmer. He was working, drinking less and not doing as much cocaine. It was harder to get ahold of when everyone
                was home. He told his family — and himself — that he was fine.
            </p>

            <p>
                Come Block Party second year, the blacking out was back. School had started again, and so did the heavy drinking. His grades
                quickly slipped and his parents presented him with a contract: no more alcohol-related trips to the hospital,
                no run-ins with the police and no failing grades — "that was it," John's mom said. If he didn't abide,
                or — what's more, if he couldn't abide — they wouldn't continue to pay for school. Easy enough.
            </p>
            <p>
                Just four weeks into his second year at the University, John realized he couldn't keep up his end of the contract.
            </p>
            <p>
                "At first it was this, 'Screw you, I don't have a problem,' mentality," John said. "But it planted a seed that I actually
                might. Every time I'd drink I'd be thinking about [the contract], which was the biggest wakeup call."
            </p>
            <p>
                There was no insane incident, no specific night that set him over the edge — there was just the simple realization that John
                was no longer in control, drugs and alcohol were. He could no longer guarantee those three simple things
                his family asked of him: he couldn't guarantee that he wouldn't go to the hospital or get in trouble
                with the police. The student who never got lower than an A in high school couldn't even guarantee that
                he'd pass all of his classes.
            </p>
            <p>
                Just a few days later, John packed up and headed back to his rural Virginia home where his parents were waiting. He wouldn't
                return to the University that year.
            </p>
            <p>
                Here's where John's story may start to sound less familiar: soon after returning home, he was leaving again — this time to
                go check into a treatment center for alcohol and drug addiction. He was about to begin his recovery journey.
            </p>
            <p>
                "There's a saying that if alcohol is causing a problem in your life, you have a problem with alcohol. It can really be anything,
                even little things," John's mother said. "Our entire culture normalizes so much about alcohol that isn't
                normal — it's like, 'Oh college kids will be college kids,' so it's just not a big deal."
            </p>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-5 col-md-offset-3 ">
            <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/february18/rugby2.png" style="width: 100%;">
        </div>
    </div>

    <div class="row ">
        <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
            <p>
                The reality is that John was just one of the roughly 20 percent of college students who meet the criteria for an Alcohol
                Use Disorder, according to the National Institute on Alcohol Abuse and Alcoholism. That means that one
                out of every five college students fits the bill for having a problem with alcohol.
            </p>
            <p>
                "College and university campuses are very specific environments where it's very culturally accepted and expected for people
                to use substances excessively," said Dr. Audrey Klein, the executive director of the Butler Center for
                Research at the Hazelden Betty Ford Foundation. "When you have that kind of culture and everybody is
                in that same setting — events that happen that are really abnormal, or serious events — it's easy for
                people to not think of them as problematic because of [the] culture."
            </p>
            <p>
                The behavior that John was engaging with is what researchers are now calling "high-intensity drinking" — or drinking beyond
                binge parameters. Binge drinking is consuming four or more drinks for females and five or more for males
                in one sitting. But young people — college students especially — are drinking at even more alarming rates
                than that. That's where high-intensity drinking enters the picture. It's defined as alcohol consumption
                that is at least two times more than the binge-drinking threshold or 10+ drinks in a single sitting.
            </p>
            <p>
                Research conducted by the Hazelden Betty Ford Foundation and the University of Maryland School of Public
                Health puts about one in nine college students — 11 percent — in the category of high-intensity drinkers.
            </p>
            <p>
                This number may sound steep. But think about it. Think about the pregame where you fill your red solo cup halfway with cheap
                vodka, mixing in a little soda to be able to swallow it and counting that as one drink when it should
                be three or four, maybe more. Or where you kill a fifth of alcohol with a date before a function, downing
                the equivalent of 16 shots between the two of you.
            </p>
            <p>
                Any type of intentional intoxication or aggressive alcohol consumption, whether its binge consumption or high-intensity drinking,
                comes with enormous risks — ones that are often overlooked in college cultures where the prevalence of
                alcohol and substance consumption make it easy to forget, or even ignore, the consequences.
            </p>
            <p>
                "The hardest part was knowing ... knowing how traumatized everyone was," John's mom said. "But for him, it was not a big
                deal. He had the mentality that 'Everybody does it,' and meanwhile he'd created this trail of wreckage."
            </p>
            <p>
                The alcohol wasn't the only substance wreaking havoc in John's life. He's also one of about eight million young adults who
                were current users of illicit drugs, according to the National Institutes of Health. But how many students
                actually identify as having an addiction or substance use disorder?
            </p>
            <p>
                "You will find research and statistics from various studies that will support that there are more [students with alcohol
                or substance abuse disorders] than those who identify the addiction or receive treatment for it," Klein
                said. "A lot of it is because that culture is very much a drinking and drug use culture and so that's
                part of the reason that people think it's okay to engage in these behaviors."
            </p>
            <p>
                With addiction in his family history, John's parents knew that the behavior their son was engaging in was not normal, despite
                all his reassurances. They knew the risks that came with the behavior John was engaging in, they knew
                the signs of addiction, and they wanted to help him, before it was too late.
            </p>
            <p>
                "When a person is engaging in this type of use – your chances of dying based on just ingesting too much of that substance
                go up astronomically, not to mention the other risks with injury or those things," Klein said. "You hear
                cases of people that do this high intensity drinking and they do like 10-12 shots in two hours … the
                body can't physically process that much alcohol … In high enough amounts, it will literally shut your
                heart and your breathing down."
            </p>
            <p>
                John is one of thousands of young people engaging in this type of dangerous drinking and drugging, but the users themselves
                are not the only ones impacted.
            </p>
            <p>
                "Thousands of college students at low risk for developing alcohol use disorders still suffer from the ramifications of excessive
                drinking — from DUIs, car crashes and violence to date rape," Dr. Joseph Lee, medical director at the
                Hazelden Betty Ford Foundation Youth Continuum, said in a
                <a href="http://www.hazeldenbettyford.org/about-us/news-media/press-release/1705-binge-drinking-drug-trend">recent report.</a> "Millions more are affected by the collateral damage."
            </p>
            <p>
                The collateral damage was what turned John towards treatment. He wasn't in it for himself, not this time at least. But he
                had acknowledged he had a problem, which is more than many college students can say.
            </p>
            <p>
                After almost a year of treatment — in-patient, outpatient, time at a halfway house and a few months in a sober living environment
                — John returned to his home in Virginia. Discussion turned to debate within the family as they tried
                to decide whether or not John should return to the University or if transferring would be a better option.
                The culture at the University hadn't changed — it was still the same 'party school' that it had always
                been. But John had changed. He convinced his family that he could handle it this time around.
            </p>
        </div>
    </div>

    <div class="row">
        <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header">
        </div>
    </div>

    <div class="row ">
        <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
            <p>
                "The very first weekend he was back, at Block Party, he had a massive relapse," John's mom said. "Binge drank all weekend,
                did lots of drugs, and that was that. Before classes even started, he'd blown a year of being sober."
            </p>
            <p>
                Already relapsing, John's parents told him that he needed to live in a sober house in Charlottesville in order for them to
                continue paying for school. He got himself in, but got himself out even faster. It wasn't the cockroaches
                that prompted his exit, but the curfew. John couldn't go out if he was living there.
            </p>
            <p>
                He moved into upperclassman housing on campus where he was free to do whatever he wanted, but John knew he needed something
                to help him maintain the contract with his parents, which still stood. So he joined the club rugby team.
                He figured if he had something to keep him busy, he couldn't get into too much trouble.
            </p>
            <p>
                "Rugby kept me entertained. We'd travel so I couldn't go out all the time, couldn't be too hungover for games," John said.
                "It was a very controlled environment, or I thought it would be."
            </p>
            <p>
                Even with rugby, John's substance abuse escalated. He went through periods of sobriety that fall, where he'd abstain from
                drinking or taking drugs for a little. But he would quickly relapse. It wasn't real recovery. He was
                back in the fraternity system, amid more partying than he could handle. Part way through the fall semester,
                he picked up a job at a bar on the Corner. It was there that cocaine became the center of his world.
            </p>
            <p>
                "My entire year at that point was based around doing, selling [and] buying drugs," John said.
            </p>
            <p>
                "The problem was, as with any addiction, it gets progressively worse," he said. "I was a 'frat star' and a drug dealer —
                I was so far from that person at [boarding school] who was valedictorian."
            </p>
            <p>
                The year progressed, and so did his relationship with drugs — he became increasingly dependent. Drinking was still a prevalent
                part of his life, too. He was living a lifestyle that was worlds away from his sobriety the year prior.
                His family relationships were severely strained, as were those with most of his friends. He was already
                feeling alone with nothing left but his addictions.
            </p>
            <p>
                Depression plagued John's days. He struggled through the rest of the spring semester. Then, in May of 2016, exactly a year
                after he'd come home from treatment, the few remaining walls of John's world came crumbling down.
            </p>
            <p>
                He was $100 short on the drug money he owed to a bigger dealer — he was just a little fish in a big pond. But even little
                fish have to pay what they owe.
            </p>
            <p>
                Standing in an apartment in downtown Charlottesville, a gun was pulled. John froze. He was going to lose his life over $100
                in drug money. His dealer looked serious — he wanted the money John owed him and was willing to take
                a life for it. Such a price to pay for such a small debt.
            </p>
            <p>
                "I thought I was going to die in that apartment in Charlottesville," John said. "And I didn't. But I woke up the next day
                and wanted to. My family had basically written me off, so had a ton of friends. Everyone was gone. I
                had no one. I had nothing. That's a really lonely place to be — where all you've got left are drugs and
                alcohol."
            </p>
            <p>
                He was scared to get sober but more scared to continue on the path that he was on. Ultimately, John's fear of continuing
                to drink and do drugs was stronger than his fear of trying something new. The next day, he found himself
                standing in the doorway of an Alcoholics Anonymous meeting.
            </p>
            <p>
                He was going to get sober.
            </p>
            <p>
                "He reached his bottom … He decided to get involved in AA, get a sponsor, and he's been sober ever since," John's mother
                said. "The truth is, if [John] had not gotten sober, I was just waiting for the phone call that he had
                died or been in some horrible accident or something."
            </p>
        </div>
    </div>

    <div class="row">
        <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header">
        </div>
    </div>

    <div class="row ">
        <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
            <p>
                The following fall, John returned to Charlottesville and the University. The same school, the same Grounds. But everything
                was different.
            </p>
            <p>
                He disaffiliated from his fraternity to focus on the AA's 12 steps of recovery, the treatment program they use to help participants
                achieve and maintain sobriety. He had a sponsor, was getting sober and expending his energy on entirely
                new things. He had to find an identity outside of drugs and alcohol and reform relationships around his
                newly sober self. He had to relearn how to live each and every day and find new ways to have fun.
            </p>
            <p>
                Rugby took on an entirely new meaning.
            </p>
            <p>
                "It gave me goals," John said. "Right before I got sober I'd heard that our league was creating an all-conference team and
                that was the goal — make all-conference. I knew that if I worked for that goal, even if I didn't make
                it, something good would come. It was almost selfish to be honest — I didn't really care about our record,
                but I had to do it for me. I had to accomplish something sober."
            </p>
            <p>
                John not only reached the goals he set for himself, but he surpassed them. He made the Top-50 Forward ranking, the All-Conference
                team and became a captain the next season.
            </p>
            <p>
                "I think that being involved in that community can be really helpful for people. In his situation, it was something he needed,"
                John's mother said. "And was certainly a saving grace when he was sober. Last year it gave him an extra
                motivation to stay sober and something to do in his spare time."
            </p>
            <p>
                Rugby has become a tool for him to teach others the lessons he learned from his addictions — how to overcome obstacles and
                how to keep fighting, how to live positively and learn from every experience and how to embrace every
                day as a gift.
            </p>
            <p>
                Today, John is finishing up his last semester at the University — and he's done it soberly since summer of 2016, inching
                closer to two years of sobriety with each passing month. He hasn't done or dealt drugs since then, either.
                His life today is a testament to his recovery, and a testament to the dangers of the excessive drinking
                and substance abuse that are so routine at U.Va. and universities across the country.
            </p>
            <p>
                "Coke just gets normalized if you're around it enough," John said. "But here's the scary thing about drugs like that — you
                don't get to decide when you're addicted to it […] you just become addicted to the physical substance.
                At U.Va., you get to see the glamorous side of drugs. But when I was in rehab, you get to see what this
                shit can really do to you. Everyone is convinced they'll never be that person who gets hooked, but here's
                the problem: it happens. It happens to kids all the time."
            </p>
            <p>
                Excessive use, whether that be drugs or alcohol, are all normalized on college campuses. John's story highlights the reality
                of these things — he's a living example of the dangers of dabbling in substances like these. But his
                life today is so much more than that.
            </p>
            <p>
                "I can't imagine a more difficult environment to get sober in than college, especially at a place like U.Va.," John's mother
                said. "The hardest thing is that you have to be different from everyone else. When everyone is partying
                and you're not, you have to have courage and a backbone and come to terms with that, and I thank God
                [John] had that."
            </p>
        </div>
    </div>
</div>
</body>

</html>