<html>
<title>abcd Magazine</title>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="npm/velocity-animate/velocity.js" type="text/javascript"></script>
    <script src="javascripts/diamond.js" type="text/javascript"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-105772369-1', 'auto');
        ga('send', 'pageview');
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="shortcut icon" href="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <meta content="Sampson versus Bennett" property="og:title">
    <meta content="New Virginia era, same Virginia qualities" property="og:description">
    <meta content="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/february18/SampsonHeader.jpeg" property="og:image">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="Sampson versus Bennett" name="twitter:title">
    <meta content="new Virginia era, same Virginia qualities" ame="twitter:description ">
    <meta content="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/february18/SampsonHeader.jpeg" name="twitter:image:src ">
</head>

<body>

    <div class="secondary-promo ">
        <div class="share ">
            <a href="http://www.cavalierdaily.com">
                <img class="navbar-image" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/CD_Circle.png">
            </a>
            <a href="https://twitter.com/share?url=http://www.abcdmag.com/sampson-versus-bennett&text=New era, same values" target="_blank ">
                <i class="fa fa-twitter " aria-hidden="true "></i>
            </a>
            <a href="https://www.facebook.com/dialog/share?app_id=115484705817318&display=popup&href=http://www.abcdmag.com/sampson-versus-bennett"
                target="_blank ">
                <i class="fa fa-facebook " aria-hidden="true "></i>
            </a>
        </div>
        <a href="/ ">
            <img src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/abcd.png ">
        </a>
    </div>
    <div class="container-fluid ">
        <div id="sampsonPhoto" class="top-container row clearfix">
            <div class=" col-md-6 col-md-offset-1" style=" height: 100%;color:white ">
                <div class="top-sub " style="padding-top:15px;">
                    <div class="top-heading " style="padding-bottom:0px">
                        Sampson versus Bennett
                    </div>
                    <div class="top-subheading " style="padding-top:0px;">
                        New era, same values
                    </div>
                    <div style="padding-top:300px;">
                        <div class="top-byline ">
                            Words by Emma D'Arpino
                        </div>
                        <div class="top-byline">
                            Photos courtesy of Virginia Athletics
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Former Virginia men's basketball legend Ralph Sampson once said, "When you leave a footprint — if it's your shoe size, if
                    it's writing your name on the wall or meeting someone and changing their life — you leave your footprint
                    somehow on what you do."
                </p>
                <p>
                    The footprint Sampson left on the University is definitely bigger than his shoe size. And for someone who stands at 7 feet
                    4 inches, that's a pretty big shoe size we're talking about.
                </p>
                <p>
                    If you walk into John Paul Jones Arena and look at all the banners honoring the great players to have represented the Cavaliers,
                    or scan through the program's record books, there is no doubt that the name 'Ralph Sampson' appears an
                    overwhelming amount of times.
                </p>
                <p>
                    But what the records don't tell you is the kind of teammate and person Sampson was. The three-time National and ACC Player
                    of the Year is often described as unselfish — almost to a fault — by those who played with him or coached
                    him.
                </p>
                <p>
                    Despite the fact that Sampson's size is one that automatically draws attention, he was one of the most highly sought-after
                    recruits while in high school and he appeared on the cover of Sports Illustrated multiple times while
                    still in college, Sampson wasn't interested in the spotlight — even though the spotlight was certainly
                    interested in him.
                </p>
                <p>
                    Sampson was a team-oriented guy who didn't prioritize winning the Naismith College Basketball Player of the Year Award over
                    achievements that were attained as a team.
                </p>
                <p>
                    Additionally, even though Sampson's height alone set him up for making a mark in the basketball world, he still embraced
                    and valued his role as a college student. Not only did Sampson graduate and earn his degree from the
                    University, but he was also chosen to live on the Lawn during his senior year of college, which is one
                    of the highest honors that the school grants its students.
                </p>
                <p>
                    "Here was the best player in the country coming out of high school who was an African-American that grew up 60 miles away
                    and chose U.Va.," said Craig Littlepage, former Virginia athletics director and assistant coach for the
                    Virginia men's basketball team in the 1981-82 season. "He became the nation's top player with opportunities
                    each year to declare for the NBA draft, yet he stayed in school for four years and graduated."
                </p>
                <p>
                    Although Sampson could have easily made his time with Virginia a quick stop along the way to the NBA, he chose to spend four
                    years in Charlottesville as both a student and a selfless teammate.
                </p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-8 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/february18/Sampson.jpeg" style="width: 100%">
                <div class="inline-photo-caption">
                   Ralph Sampson studies in his dorm room.
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Virginia fans today are well acquainted with this kind of archetype — after all, current Coach Tony Bennett's players consistently
                    have been described as reflecting these Sampson-esque values.
                </p>
                <p>
                    Today's Virginia fans have also become well acquainted with a level of success that rivals that of the Sampson era.
                </p>
                <p>
                    During Sampson's junior year, Virginia recorded 30 wins. Those wins stood as the most wins for a Virginia team in a single
                    season for over three decades and seemed to be an untouchable program-high.
                </p>
                <p>
                    Then came Tony Bennett. After building up the program for a few years, Bennett's 2013-14 squad finished the season with a
                    30-7 record. The next year, the team went 30-4, and Bennett's team this year is positioned to grab another
                    30-win season. Furthermore, this year's 12-0 start in the ACC was also the first time since 1980-81 that
                    a Virginia team started 12-0 in the conference. Additionally, when the Cavaliers earned a No. 1 ranking
                    in the AP poll this year, it was the first time since 1982 — Sampson's senior year — that the program
                    was named the best team in the country.
                </p>
                <p>

                </p>
                <p>
                    The thing is, even though Bennett is mirroring the success of the Sampson era, the makeup of the teams is almost entirely
                    different. The greatest difference, of course, being that Tony Bennett doesn't have the uniquely and
                    supremely talented Ralph Sampson. No longer is there Ralph Sampson for fans to idolize, for the media
                    to gush over and for the college basketball world to praise to the highest degree.
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header">
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    What Sampson achieved at Virginia was — and remains — unprecedented. In addition to racking up virtually every national honor
                    possible, Sampson has remained atop the Virginia record books for decades. He currently has posted more
                    career rebounds, field goals made, dunks and blocked shots than any other Cavalier. The blocked shots
                    record is particularly staggering, with Sampson accumulating 462 blocks in his four years. To put this
                    in perspective, Virginia's second-best blocker, Chris Alexander, only had 148 blocks in his career. If
                    you break it down by season, Sampson holds the four top spots in the record books for blocks in a single
                    season. Similarly, he also holds the top four spots for rebounds in a single season.
                </p>
                <p>
                    This consistent high level of play meant that every time Sampson stepped on the court, there was more than a chance that
                    something amazing would occur. Thus, it's no surprise that every game attracted all sorts of attention.
                </p>
                <p>
                    "Everyone wanted to see U.Va. and Ralph Sampson play, whether it was in person or on TV," Littlepage said. "Having Ralph
                    Sampson meant that every game was an event, the players were rock stars, the media sought interviews,
                    the pro scouts followed every practice and game."
                </p>
                <p>
                    Sampson's supernatural abilities seemed to have no bounds in who he could leave in awe, and even his teammates — who, keep
                    in mind, are Division I athletes themselves — marveled at what he was capable of.
                </p>
                <p>
                    "For those of us that were more normal athlete types, once every third practice, or so, [Sampson] would … do something that
                    was so ridiculous, and you would think, 'Did I really just see what I think I saw?'" said Tim Mullen,
                    former Virginia basketball player from 1981-85 .
                </p>
                <p>
                    But Sampson wasn't just out there building his own resume with his impressive play. Each year, as he turned down millions
                    of dollars by returning for another season of college basketball rather than going to the NBA, he was
                    also building up the entire Virginia men's basketball program.
                </p>
                <p>
                    "He allowed us to recruit other nationally ranked prospects because so many other good players wanted to play alongside of
                    'Stick'," Littlepage said. "U.Va. quickly became the focus of the college basketball world and as a result,
                    gave the basketball program and the University, generally, incredible exposure on an international level.
                    Everyone knew who Ralph Sampson was and knew that he attended and played for the University of Virginia."
                </p>
                <p>
                    Simply put, Sampson changed Virginia basketball in a way no one else had, and he performed at a level that is virtually impossible
                    to replicate. In other words, there will never be another Ralph Sampson.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-8 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/february18/SampsonPlaying.jpeg" style="width: 100%">
                <div class="inline-photo-caption">
                    Former legend Ralph Sampson passed up millions to stay at U.Va.
                </div>
            </div>
        </div>
        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    What Tony Bennett has done with the program shows that that doesn't mean Virginia basketball will never have another era
                    of success like the Sampson era, though.
                </p>
                <p>
                    In the 10 years prior to Bennett's arrival in Charlottesville, Virginia had only gone to the NCAA Tournament twice and struggled
                    to make it beyond the second round in any of its NIT Tournament appearances. In the 2008-09 season, which
                    was just before Bennett took over, the Cavaliers had a 10-18 overall record and were 4-12 in the ACC.
                </p>
                <p>
                    After spending a few years rebuilding the program, by his fifth season with Virginia, Bennett guided the team to an impressive
                    30-7 record, had a mere two losses in conference play, claimed an ACC regular season title, picked up
                    an ACC tournament championship and made a Sweet 16 appearance. When the team was ranked No. 2 that year,
                    it marked the first time since 1982-83 that Virginia had climbed that high in the national rankings.
                </p>
                <p>
                    Since that 2012-13 season, Virginia has performed at a consistently high level. The Cavaliers have advanced to the NCAA Tournament
                    in each of the last four seasons and, in 2016, they made their first NCAA Elite Eight appearance since
                    1995.
                </p>
                <p>
                    Like Sampson, Bennett gave the program a new life. And, like Sampson, he has been picking up accolades that are shaping up
                    to leave a pretty big footprint at Virginia.
                </p>
                <p>
                    Bennett was named the ACC Coach of the Year by the media and his peers in 2014 and 2015, and he was named the U.S. Basketball
                    Writers Association National Coach of the Year for the 2014-15 season.
                </p>
                <p>
                    But, once again mirroring the college basketball legend, Bennett isn't interested in making the accolades the subject of
                    conversation or making himself the center of attention. And this has become a trait that his players
                    have replicated as well.
                </p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-8 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/february18/Bennett1.jpeg" style="width: 100%">
                <div class="inline-photo-caption">
                    Virginia Coach Tony Bennett cuts down net after 2014 ACC tournament win.
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    Due to the character of Bennett and the way his players have represented that character, it is fitting that it's almost impossible
                    to hear anyone talk about Virginia men's basketball today without the mention of Bennett's Five Pillars
                    — humility, passion, unity, servanthood and thankfulness. These biblically-based principles comprise
                    Bennett's coaching philosophy, and were first established by his father.
                </p>
                <p>
                    "Regardless of what your beliefs are, they are wisdoms that have stood the test of time," Bennett said in a Virginia Athletics
                    video. "If you went around our locker room and the hallways, you'll see [the Five Pillars] … Each one
                    is specific to certain aspects that we think that make a great team and even a great player."
                </p>
                <p>
                    Throughout the years, Bennett has preached these values to such a degree that they have become a phenomenon in the college
                    basketball world and have been intrinsically linked to the progress and success of Virginia men's basketball
                    under Bennett.
                </p>
                <p>
                    "[The Pillars] set a foundation for moving the team forward and building a solid thought process where everyone thinks the
                    same way," said Akil Mitchell, Virginia forward from 2010-14.
                </p>
                <p>
                    Mitchell further attributed the culture and Bennet's Pillars as a key factor in the process of going from not even qualifying
                    to the NCAA tournament to making it to the Sweet 16 within Mitchell's four years at Virginia.
                </p>
                <p>
                    "We all worked really hard," Mitchell said. "The pillars set a foundation, and we were a brotherhood. We all knew what we
                    wanted to accomplish and we knew how we wanted to get there and we were worked out butts off everyday
                    to make sure that our goals would be accomplished, and we did it together."
                </p>
                <p>
                    This year's team has also especially captured that kind of team-wide commitment to having the same beliefs and goals.
                </p>
                <p>
                    When the Cavaliers beat Duke in Cameron Indoor Stadium on Jan. 27 for the first time since 1995, the general response to
                    how such a feat was accomplished was that it was achieved by a selfless team grounded in the idea that
                    although everyone has different roles at different times, they are all united under the team's values
                    and shared aspirations.
                </p>
                <p>
                    "They're very clear of who they are as a team," Bennett said after the Duke win. "I always talk about humility. That's our
                    first pillar. Just knowing who you are as a team. I like the way they're doing that and picking each
                    other up … It's just been different guys at different times stepping up and doing the job."
                </p>
                <p>
                    The team, and the rest of the college basketball world, has come to understand that embracing these values is not optional
                    if you want to play for Bennett. As a result,
                    <a href="http://www.cavalierdaily.com/article/2017/03/virginia-announces-marial-shayok-jarred-reuter-will-transfer">
                        some players have transferred from the program</a> because they haven't bought into the system, and
                    some players
                    <a href="http://www.cavalierdaily.com/article/2016/11/nichols-dismissed-from-mens-basketball-team">
                        have been suspended for not following the team rules</a>. But, for those that take in the lessons
                    Bennett teaches them and mirror those attitudes through their play, success has come.
                </p>
                <p>
                    And that is exactly what this year's team has shown.
                </p>
                <p>
                    "I think this team reflects their coach," said Seth Greenberg, ESPN analyst and former Virginia assistant coach. "He very
                    much understands who he is and how he wants to win. He recruits to their system, and everyone buys into
                    it. His non-negotiables, his core beliefs are as solid as any in the country. The kids believe in him,
                    and they believe in each other."
                </p>
                <p>
                    Bennett's system is further acknowledged as an exceptional contrast to the current one-and-done college basketball world,
                    in which players are more detached from their school, viewing it as merely a short pit-stop to the NBA.
                </p>
                <p>
                    "In a culture of college basketball today where guys are trying to get out as quickly as they can, the Virginia kids are
                    staying around an extra year, getting a better understanding of the culture," Greenberg said. "[Bennett's]
                    leadership is unbelievable, his character is undeniable, but most importantly I think that these kids
                    believe in him, and their core beliefs and non-negotiables are seen each and every day."
                </p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-8 col-md-offset-2 ">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/february18/Bennett2.jpeg" style="width: 100%">
                <div class="inline-photo-caption">
                    Sophomore guard Kyle Guy and senior forward Isaiah Wilkins celebrate after defeating Duke in January, 2018.
                </div>
            </div>
        </div>

        <div class="row ">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text ">
                <p>
                    As today's Virginia men's basketball team lives out these core beliefs each and every day, they are interestingly mirroring
                    the day-to-day team culture that existed during the Sampson years.
                </p>
                <p>
                    "Seeing Virginia up close, this year in particular, I have had the opportunity to see the five pillars in action," said Jim
                    Miller, former Virginia basketball forward from 1981-85. "What's neat is that when I played we shared
                    many of the same values. We might not have called them exactly by the same name but we clearly embodied
                    those same principles. Teamwork was all about making sure everyone was on the same page. We always started
                    each year talking about these principles and what they meant to us."
                </p>
                <p>
                    After all these years, these two very different Virginia basketball eras are threaded together not just by their success,
                    but by their values, as well.
                </p>
                <p>
                    "Our best teams in the modern era, starting in the late '70s, relied on intelligent, physical and team-oriented play, particularly
                    on defense," Littlepage said. "Because Ralph, himself, was such a team-first guy, the DNA of Virginia
                    basketball has been consistent."
                </p>
                <p>
                    This team-first DNA that is found in both the Sampson era and the Bennett era has shown that for all the differences that
                    exist between these teams, this one commonality can lead them to end up in the same place.
                </p>
                <p>
                    It doesn't matter that the Sampson team was always expected to go far, but this year's team wasn't even in the preseason
                    AP Top 25. It doesn't matter that when Sampson was on the court, Virginia played an up-tempo game — as
                    evidenced by the 1982-83 team's 81.9 average points per game — whereas now the team methodically slows
                    down the pace, averaging 67.2 points per game over the previous four seasons. What matters is that both
                    of them share a team culture that has led to tremendous success. Because of that, these two eras have
                    left footprints in Virginia basketball that will remain forever.
                </p>
            </div>
        </div>
    </div>
</body>

</html>