<html>
<title>abcd Magazine</title>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="npm/velocity-animate/velocity.js" type="text/javascript"></script>
    <script src="javascripts/diamond.js" type="text/javascript"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-105772369-1', 'auto');
        ga('send', 'pageview');
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style-flex.css">
    <link rel="stylesheet" href="stylesheets/statues.css">
    <link rel="shortcut icon" href="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <meta content="Protest, dialogue, confrontation" property="og:title">
    <meta content="The legacy of Thomas Jefferson statues on Grounds" property="og:description">
    <meta content="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/statues-cover.png" property="og:image">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="Protest, dialogue, confrontation" name="twitter:title">
    <meta content="The legacy of Thomas Jefferson statues on Grounds" ame="twitter:description ">
    <meta content="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/statues-cover.png" name="twitter:image:src ">
</head>

<body>
    <div class="secondary-promo ">
        <div class="share ">
            <a href="http://www.cavalierdaily.com">
                <img class="navbar-image" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/CD_Circle.png">
            </a>
            <a href="https://twitter.com/share?url=http://www.abcdmag.com/protest-dialogue-confrontation&text=The legacy of Thomas Jefferson statues on Grounds."
                target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/dialog/share?app_id=115484705817318&display=popup&href=http://www.abcdmag.com/protest-dialogue-confrontation"
                target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </div>
        <a href="/ ">
            <img src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/abcd.png ">
        </a>
    </div>

    <div class="container-fluid ">
        <div id="statuePhoto" class="top-container row clearfix">
            <div class=" col-md-5" style=" height: 100%; color: black;">
                <div class="top-sub top-meta-container " style="padding-top:150px">
                    <div class="top-heading ">
                        Protest, dialogue, confrontation
                    </div>
                    <div class="top-subheading ">
                        The legacy of Thomas Jefferson statues on Grounds
                    </div>
                    <div class="top-byline ">
                        Photos by Andrew Walsh
                    </div>
                </div>
            </div>
        </div>



        <!-- <div id="statuePhoto" class="top-container row clearfix" style="justify-content: flex-end; align-items: flex-start; padding: 5%;">
            <div class="col-md-5" style="align-self: flex-start; color: black; mix-blend-mode: difference; text-align: center; padding-bottom:0%;">
                <div class="top-heading ">
                    Protest, dialogue, confrontation
                </div>
                <div class="top-subheading ">
                    The legacy of Thomas Jefferson statues on Grounds
                </div>
                <div class="top-byline ">
                    Photos by Andrew Walsh
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-text">
                <p>
                    In light of Thomas Jefferson's lifelong involvement in and advocacy for the institution of slavery, it can be hard to square
                    his words about freedom and inalienable rights with his actions. Given the role of both Jefferson and
                    enslaved laborers in the birth of the University, the question of his legacy has been a fixture of the
                    discourse at U.Va. Meanwhile, with the growing controversy surrounding statues of Confederate generals,
                    both in Charlottesville and around the country, the idea of statues in a general sense has come under
                    scrutiny, as communities consider exactly what it means to erect a statue of a person. On Grounds, these
                    two dynamics intersect directly. A number of statues depicting Jefferson dot the landscape, in many ways
                    physical manifestations of his legacy, just like the University itself. These statues have been the focus
                    of protest, dialogue and confrontation. Just as there are many different opinions on how to treat Jefferson's
                    legacy, there are a number of visions for what the statues represent, and what their future should look
                    like. This is a small collection of some of these visions.
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-subheading statue-body-text" style="padding-top:80px">
                <div class="body-subheading">
                    <b>The statue’s enduring symbolism</b>
                </div>
                <div class="body-byline" style="padding-top:15px">
                    The statue of Jefferson in front of the Rotunda embodies the values we should aspire to, despite the sins of its subject
                </div>
                <p style="padding-top:15px">
                    Words by Charlotte Lawson
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 statue-body-text">
                <p>
                    Following their separation from the British Empire in 1776, the newly-founded state governments desperately needed a way
                    of governance to replace colonial rule. The disparate and fledgling nation required legislation that
                    actively defied the various forms of oppression that it had accused Great Britain of inflicting upon
                    the colonies. In Virginia, Thomas Jefferson headed this quest with his fervently liberal-minded promotion
                    of the values of limited government and national rights. Shortly following independence, the statesman
                    <a href="https://www.virginiahistory.org/collections-and-resources/virginia-history-explorer/thomas-jefferson">began</a> to draft a document that would become one of his most enduring legacies — the Virginia Statute
                    for Religious Freedom. Although it was presented to the Virginia General Assembly for review in 1779,
                    the bill did not pass into law until 1786. During the legislative process, Jefferson, looking on from
                    afar as the Ambassador to France, eagerly awaited the debate's outcome as his longtime friend and ally
                    James Madison lobbied for the statute's passage back in Virginia. The mission of the bill was twofold
                    — to secure one's right to exercise their chosen religion freely and to protect separation of church
                    and state, thereby abolishing Virginia's association with the Church of England. Above all, the statute
                    ensured an individual's freedom from any government attempt to dictate one's choice of what to believe
                    or practice.
                </p>
                <p>
                    It was with these treasured ideals in mind that sculptor Moses Ezekiel crafted the Thomas Jefferson statue that adorns the
                    north plaza of the Rotunda. Ezekiel's intended themes for the statue were
                    <a href="https://news.virginia.edu/content/let-freedom-ring-uva-professor-rediscovers-sacred-story-behind-jefferson-statue">discovered</a> in 2014 by W. Scott Harrop, and first published in the newsletter of the University's
                    Middle Eastern and South Asian Languages and Cultures Department. Now a Jefferson Fellow at Monticello's
                    International Center for Jefferson Studies, Harrop's curiosity about why various names for God — including
                    Allah — were inscribed on the side of the Jefferson Statue led him to an extended study of Ezekiel life
                    and work. Harrop found that the Virginia-raised Jewish artist — who confronted the sinister force of
                    religious prejudice throughout his life — deeply cherished the freedom of religion that Jefferson fought
                    so hard to ensure. Surrounding the liberty bell that Jefferson stands upon are four winged spirits representing
                    other values that the sculptor and founder alike held dear — equality, justice, liberty and religious
                    freedom. Through his art, Ezekiel monumentalized the founder's lasting contributions that he deemed most
                    valuable to the state of Virginia, our country and the world.
                </p>
                <p>
                    <br> As the University, we have an obligation to remember and examine all aspects of our founder's legacy
                    — the good and the bad. The dichotomy of Jefferson as a figure cannot be overlooked. His relentless fight
                    to codify personal freedoms occurred concurrently with his ownership of enslaved laborers. Our efforts
                    to scrutinize Jefferson's personal failures, however, cannot come at the expense of the deeply beneficial
                    and continually resonant aspects of his quest to protect freedom and equality. Jefferson identified his
                    own role in securing religious freedom for the state of Virginia as among his greatest achievements above
                    all other personal endeavors. A man who valued freedom for his posterity more profoundly than any of
                    his other legacies is worthy of enshrinement for that alone. The Virginia Statute for Religious Freedom
                    — along with Jefferson's several other founding achievements — deserve memorialization for their far-reaching
                    impact on American politics throughout history and to this day. Values we take for granted in the United
                    States were once widely denounced as radical and unrealistic during the founding period, and continue
                    to be unattainable in many parts of the world.
                </p>
                <p>
                    The Jefferson statue stands over Grounds as an emblem of the liberal values that our founder tirelessly aspired to secure
                    for generations to come. Each stage of United States history served a crucial role in moving the nation
                    closer to the promises of liberty and equality consecrated in the Declaration of Independence. None of
                    these stages have fulfilled its perfect embodiment. Progress demands that we embrace the groundwork laid
                    by a long and complicated history of progress, rather than shirking that progress for its failures. When
                    the statue was unveiled at the University's Final Exercises in 1910, then-President Edwin Alderman
                    <a href="https://mesalc.virginia.edu/sites/mesalc.virginia.edu/files/MESALC%20Newsletter%20%28Spring%202012%29_1.pdf">pronounced</a> that it would stand proudly as a "sermon in stone" of Jeffersonian ideals that have so
                    powerfully influenced the course of history. Hopefully the University community can embrace the transformative
                    power of Jefferson's life's works that Ezekiel sought to emblematize.
                </p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-offset-2 col-md-7 body-text">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/statues-lawson.png" style="width: 100%; ">
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-subheading statue-body-text " style="padding-top:80px">
                <div class="body-subheading">
                    <b>More statues, not fewer</b>
                </div>
                <div class="body-byline">
                    Thomas Jefferson is an inextricable part of the University’s past, as are a number of other inspirational figures who should
                    be honored as well
                </div>
                <p style="padding-top:15px">
                    Words by Thomas Ferguson
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 statue-body-text">
                <p>
                    Historic institutions often inherit mixed legacies from their predecessors. The University community has recently examined
                    ways to celebrate the many accomplishments of its founder Thomas Jefferson — while also acknowledging
                    his own shortcomings and those of his time. In response to this challenge, some have condemned Jefferson
                    and his legacy. Examples of such sentiments include outrage concerning President Teresa Sullivan's
                    <a href="http://www.cavalierdaily.com/article/2016/11/professors-ask-sullivan-to-stop-quoting-jefferson">quotation</a> of Jefferson in an email and the Black Student Alliance's
                    <a href="http://www.cavalierdaily.com/article/2017/08/an-in-depth-look-at-the-bsa-demands">condemnation</a> of his statue as an emblem of enduring white supremacy. In order to tell a more complete
                    history of the University and its founder, the University community must find a balance between recognizing
                    Jefferson's accomplishments and failures. Given his contributions to religious freedom, political philosophy,
                    the United States and the University — his legacy is overwhelmingly positive. The University should continue
                    to examine Jefferson's faults in order to shed greater light on parts of its historical record that have
                    traditionally been repressed. However, members of the University community must stop the outright dismissal
                    of Jefferson. Such sentiments set dangerous precedents of historical erasure and prevent the recognition
                    of a complete historical narrative.
                </p>
                <p>
                    In order to add more context to the University's history and celebrate the legacies of Jefferson and others, the University
                    should continue efforts to add to its historical landscape. Such initiatives include the construction
                    of a
                    <a href="http://www.cavalierdaily.com/article/2017/06/board-of-visitors-approves-design-for-memorial-to-enslaved-laborers">memorial</a> to the University's enslaved laborers, the
                    <a href="http://www.cavalierdaily.com/article/2016/09/jordan-hall-to-be-renamed-pinn-hall">dedication</a> of Pinn Hall to medical school alumna Dr. Vivian Pinn — the first woman and black student
                    to graduate from the University's medical school — and the
                    <a href="http://www.cavalierdaily.com/article/2017/09/u-va-considers-renaming-international-residential-college-house-after-first-graduate-from-china">dedication</a> of Yen Hall to W.W. Yen, the University's first international student to earn a bachelor's
                    degree. Individuals such as Pinn and Yen have contributed much to our nation and world, from advancing
                    women's health to fostering diplomacy as the Premier of China. Likewise, the recognition of enslaved
                    laborers at the University corrects the traditional underrepresentation of such individuals in the historic
                    record and acknowledges the role that slavery played in University life before the Civil War.
                </p>
                <p>
                    While some reject Jefferson and his legacy, in doing so they reject the role he played in advancing freedom and democracy
                    in the United States. His immortal words asserting that "We hold these truths to be self-evident, that
                    all men are created equal, that they are endowed by their Creator with certain unalienable Rights, that
                    among these are Life, Liberty and the Pursuit of Happiness" in the Declaration of Independence provided
                    our fledgling nation with an ideal to strive towards, and are embodied by his University. Jefferson himself
                    contributed towards that end by penning the Virginia Statute for Religious Freedom in 1777. His work
                    contributed towards religious freedom in Virginia — a right too many around the world still do not enjoy
                    — and his precedent helped make religious liberty standard in America. The University should take pride
                    in inheriting that legacy, and its work in advancing public education in Virginia reflects the goals
                    of its founder.
                </p>
                <p>
                    Jefferson's wisdom and foresight, etched into documents like the Declaration of Independence and the Virginia Statute for
                    Religious Freedom, continue to prove their relevance. His work on advancing freedom and democratic principles
                    — though imperfect — remains a part of the evolving process of the expansion such freedoms in the United
                    States.
                </p>
                <p>
                    The contextualization of history on Grounds should remain an active discussion that members of the University continue to
                    engage with in the future. It will not be completely addressed with one single decision or initiative,
                    but instead will require an evolving process of dialogue and action. Students must be involved as much
                    as possible with these decisions, and the University's Advisory Committee on the Future of the Historic
                    Landscape's public input session provides an effective framework for soliciting students' perspectives.
                    The University should rely on student input — as well as other stakeholders such as alumni — to guide
                    its decision-making in the future.
                </p>
                <p>
                    The study of history allows for us to reflect on the past and build off the work of our predecessors. Jefferson helped our
                    Commonwealth and country start its journey towards equality for all by contributing to the intellectual
                    and political revolution that resulted in the foundations of our modern day democratic republic. Jefferson's
                    statue in front of the Rotunda — sculpted by Jewish artist Moses Ezekiel in recognition of Jefferson's
                    contributions towards advancing religious freedom — serves as a testament to the enduring relevance of
                    Jefferson and his work. Since his time we have made much progress towards recognizing the fact that all
                    men and women are created equal. That does not mean we still do not have more to do to achieve that end.
                    Without Jefferson, however, we would be even further from that goal.
                </p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-offset-2 col-md-7 body-text">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/statues-ferguson.png" style="width: 100%; ">
            </div>
        </div>



        <div class="row">
            <div class=" col-xs-8 col-md-3 col-md-offset-2 col-xs-offset-1 section-header-small">
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 body-subheading statue-body-text " style="padding-top:80px">
                <div class="body-subheading">
                    <b>Jefferson's legacy is more than a statue</b>
                </div>
                <div class="body-byline">
                    In debating Jefferson’s legacy, the community must look past mere optics and consider the day to day conditions of marginalized
                    students on Grounds
                </div>
                <p style="padding-top:15px">
                    Words by Zari Taylor
                </p>
            </div>
        </div>


        <div class="row">
            <div class=" col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-5 statue-body-text">
                <p>
                    President Teresa Sullivan
                    <a href="http://www.cavalierdaily.com/article/2016/11/professors-ask-sullivan-to-stop-quoting-jefferson">came under fire</a> last year for her quotation of Thomas Jefferson in an email following the 2016 U.S.
                    presidential election. In response, Asst. Psychology Prof. Noelle Hurd drafted a letter to Sullivan that
                    was ultimately signed by 469 students and professors. Signees felt that invoking Jefferson as a symbol
                    of unity actually did nothing to that effect. In her response, Sullivan endorsed their right to speak
                    on issues, but also emphasized that quoting someone does not imply and endorsement of all their beliefs.
                    What followed was a conversation across the University community about
                    <a href="http://www.cavalierdaily.com/article/2016/11/jefferson-email-quote-middle-ground">quoting Jefferson</a> and
                    <a href="http://www.cavalierdaily.com/article/2016/11/turner-jeffersons-legacy-is-worth-defending">his legacy</a> on grounds. To address Jefferson's legacy, the University should look beyond the statues
                    that physically represent him and turn to the basics — adjusting what comes to mind of those in the University
                    community when his name is invoked.
                </p>
                <p>
                    There are many ways to commemorate significant historical figures. Their life and accomplishments can be recorded in textbooks,
                    remembered with holidays or awards in their name or honored by a statue erected in their image. Statues
                    are the most physical representations of this honor and have been the continuous site for both
                    <a href="http://www.cavalierdaily.com/article/2017/10/white-nationalists-gather-for-another-torchlit-rally-at-lee-statue">protests</a> and
                    <a href="http://www.cavalierdaily.com/article/2018/02/masked-group-holds-anti-nazi-demonstration-at-jefferson-statue">counter-protests</a> over the past few months on Grounds and in Charlottesville. After the white nationalist
                    protest in August, City Council ordered that the statues of Confederate generals Robert E. Lee and Thomas
                    "Stonewall" Jackson be
                    <a href="http://www.cavalierdaily.com/article/2018/03/charlottesville-removes-shrouds-on-lee-jackson-statues">covered by tarps</a>, and in a student protest last semester,
                    <a href="http://www.cavalierdaily.com/article/2017/09/protesters-shroud-and-surround-jefferson-statue">students covered</a> the statue of Thomas Jefferson outside of the Rotunda. Evidently, the statues of
                    these men serve as the focus of intense frustration — so much so that they are covered or hidden from
                    sight. They have also, however, spurred conversations between the University community and Charlottesville
                    at large, around the naming of things like
                    <a href="http://www.cavalierdaily.com/article/2017/10/local-activist-starts-petition-to-rename-emancipation-park">City parks</a> and
                    <a href="http://www.cavalierdaily.com/article/2016/09/jordan-hall-to-be-renamed-pinn-hall">University buildings</a>.
                </p>
                <p>
                    This kind of discourse around statues and naming emerges from the idea that figures should be commemorated on the basis of
                    their beliefs. Some people disagree on the commemoration of Confederate heroes because they do not agree
                    with the ideals they held, specifically regarding race. Those values, they argue, do not align with the
                    values of Charlottesville as a whole. The same thinking is present in the conversation around Jefferson,
                    who had a vision for the University that strictly excluded women and people of color. While he was envisioning
                    a University for southern youth, he had slaves working his plantation and building the very Grounds we
                    walk everyday. It has been
                    <a href="https://www.monticello.org/site/plantation-and-slavery/thomas-jefferson-and-sally-hemings-brief-account">proven</a> that Jefferson fathered the children of one of his slaves, Sally Hemings, and historical context
                    provides room for speculation on the non-consensual manner of their relationship. This negative picture
                    of Jefferson is all that some remember when they see his name.
                </p>
                <p>
                    Sullivan argued that evoking the name of someone does not mean a full endorsement of their character and beliefs. While this
                    is true, the University still struggles with Jefferson's legacy because we are living in the full fruition
                    of his initial vision. Yes, the University currently admits African Americans and women, but
                    <a href="http://diversitydata.virginia.edu">it remains a majority white</a> institution. Those who criticize the statue refer mainly to the fact
                    that he never envisioned the University's current level of diversity. If the community is against the
                    use of his name and words, then of course they would be against a statue in his image. Removing the statue
                    from its current location does nothing to address the issue with Jefferson's legacy. Instead, it hides
                    the problem and allows it to exist somewhere else. The issue of his beliefs and legacy will still be
                    up for debate.
                </p>
                <p>
                    The conversation around Jefferson is different than the conversation around Confederate generals because of his relationship
                    to the University. The school would not exist without Jefferson, and as the founder, his image rightfully
                    belongs on Grounds. Though Jefferson would never have given them credit, the University also would not
                    exist without the slaves that built it. If the University is to continue to invoke and dwell on Jefferson's
                    legacy, the administration needs to work out a way to demonstrate that his ideals are the foundation
                    from which this institution developed — and that his problematic beliefs of exclusion can not be applied
                    to the present.
                </p>
                <p>
                    The focus on tangible entities like statues seems important, but this is more of a debate on the intangible and the beliefs
                    of those in power at this institution. Is the University stuck in the Jeffersonian past of exclusion,
                    or is it open to a future that includes and appreciates the very people to whom Jefferson denied educational
                    access? For the University to properly address his legacy, it needs to address the goals of the University's
                    founder, while also make solid efforts to ensure that the University denounces the exclusive elements
                    of Jefferson's vision. Statues are a natural place to start, but the backlash against President Sullivan
                    demonstrates that conversation should start at the basics — Jefferson as symbol for his beliefs and,
                    by extension, the beliefs of the University.
                </p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-offset-2 col-md-7 body-text">
                <img class="inline-photo" src="http://d2kgzndjy6b5sa.cloudfront.net/abcdmag/April18/statues-taylor.png" style="width: 100%; ">
            </div>
        </div>

    </div>
</body>

</html>