.promo-image {
    height: 85%;
    width: 85%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.secondary-promo {
    font-family: AGaramondPro-Regular, Adobe Garamond Pro;
    font-size: 28px;
    line-height: 30px;
    width: 100%;
    text-align: right;
    padding-right: 25px;
    color: black;
    transition: all 2s ease;
    opacity: 0;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.secondary-promo img {}

.stories {
    opacity: 0;
}

.vcenter {
    height: 100%;
    display: flex;
    align-items: center;
}

.vbottom {
    height: 100%;
    display: flex;
    align-items: center;
}

.story {
    width: 100%;
}

.story-sub {
    padding-top: 50px;
    text-align: left;
}

.story-heading {
    font-size: 56px;
    line-height: 56px;
}

.story-byline {
    font-size: 20px;
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.5);
}

.story-subheading {
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
}

.top-sub {
    text-align: left;
}

.top-heading {
    font-size: 68px;
    line-height: 68px;
    padding-bottom: 15px;
}

.top-byline {
    font-size: 18px;
    padding: 15px 0;
    font-family: 'Montserrat', sans-serif;
}

.top-subheading {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
}

.story-container {
    font-family: AGaramondPro-Regular, Adobe Garamond Pro;
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}

.top-container {
    height: 100%;
    font-family: AGaramondPro-Regular, Adobe Garamond Pro;
    background-image: url("http://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-646270468086/chrisback.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

p {
    font-family: 'Garamond', serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    padding-bottom: 25px;
}

.full-height {
    height: 100%;
}

.no-pad {
    padding: 0;
}

p:first-child:first-letter {
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.article-container {}

.headline {
    font-family: AGaramondPro-Regular, Adobe Garamond Pro;
    font-size: 108px;
    line-height: 114px;
}

.top-photo-container {
    padding-top: 55px;
}

.top-meta-container {
    padding-top: 280px;
    text-align: center;
    color: white;
}

.top-photo {
    max-width: 100%;
    max-height: 100%;
}

.body-text {
    padding: 80px 25px;
}

.align-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.caption-container {
    display: block;
}

.image-caption {
    font-family: AGaramondPro-Regular, Adobe Garamond Pro;
    font-size: 72px;
    line-height: 74px;
    display: block;
    width: 100%;
}

.byline {
    font-family: AGaramondPro-Regular, Adobe Garamond Pro;
    width: 100%;
    display: block;
    font-size: 22px;
    margin-top: 15px;
}

#masthead {
    position: absolute;
    top: 50px;
}

.full-height {
    height: 100%;
}

.swiper-slide {}


/* media queries */

@media (min-width: 288px) and (max-width: 475px) {
    .story-sub {
        text-align: center;
    }
    .story-heading {
        font-size: 36px;
        line-height: 40px;
    }
    .story-subheading {
        font-size: 18px;
        line-height: 22px;
        width: 80%;
    }
    .story-byline {
        font-size: 14px;
    }
    .top-subheading {
        font-size: 18px;
        line-height: 22px;
    }
    .top-heading {
        padding: 0;
        font-size: 36px;
        line-height: 40px;
    }
    .top-byline {
        font-size: 14px;
        line-height: 18px;
    }
    .top-photo-container {
        padding: 25px;
    }
    .secondary-promo {
        transform: scale(0.5);
    }
}

@media (min-width: 476px) and (max-width: 992px) {
    p {
        font-size: 22px;
        line-height: 34px;
    }
    .vcenter {
        height: auto;
    }
    .story-sub {
        text-align: center;
    }
    .story-heading {
        font-size: 72px;
        line-height: 72px;
    }
    .story-subheading {
        font-size: 36px;
        line-height: 38px;
        width: 80%;
    }
    .story-byline {
        font-size: 34px;
    }
    .top-subheading {
        font-size: 20px;
        line-height: 24px;
        padding-top: 10px;
    }
    .top-heading {
        padding: 0;
        font-size: 44px;
        line-height: 48px;
    }
    .top-byline {
        padding-top: 0;
        font-size: 14px;
        line-height: 18px;
    }
    .top-photo-container {
        padding: 75px 115px 15px 115px;
    }
}


/*svg styling */

.a,
.b,
.c,
.d,
.e {
    font-size: 53.83px;
    font-family: Jaapokki-Regular, Jaapokki;
}

.a,
.b,
.c,
.h,
.i,
.j {
    fill: none;
}

.a,
.b,
.c,
.h,
.i,
.j,
.r {
    stroke: #000;
}

.a,
.b,
.c {
    stroke-width: 0.99px;
}

.a,
.d {
    letter-spacing: -0.08em;
}

.b,
.f {
    letter-spacing: -0.08em;
}

.c {
    letter-spacing: -0.08em;
}

.e {
    letter-spacing: -0.1em;
}

.g {
    letter-spacing: -0.04em;
}

.h,
.i {
    stroke-miterlimit: 10;
}

.h {
    stroke-width: 0.84px;
}

.i {
    stroke-width: 0.99px;
}

.j {
    stroke-width: 1.15px;
}

.k {
    font-size: 38px;
    letter-spacing: 0.07em;
}

.k,
.p {
    font-family: AGaramondPro-Regular, Adobe Garamond Pro;
}

.l {
    letter-spacing: 0.06em;
}

.m {
    letter-spacing: 0.04em;
}

.n {
    letter-spacing: 0.07em;
}

.o {
    letter-spacing: 0.07em;
}

.p {
    font-size: 24px;
    letter-spacing: 0.07em;
}

.q {
    letter-spacing: 0.07em;
}